<?php
/**
 * Created by Skynix Team
 */
?>
<?php
$cssClass = $block->getCssClass() ? $block->getCssClass() : 'desktop';
?>
<div class="<?= $cssClass ?>">
    <button class="action primary button button-top" data-link-scroll=".form-content" type="button">Learn More</button>
</div>
