.catalog-category-view {
  .category {
    &-view {
      @include container-box;
      padding: 0 30px 20px;
      @include tablets-2 {
        padding: 0 40px 20px;
      }

    }
    &-description {
      text-align: justify;
      max-width: 1380px;
      margin: auto;
    }
  }
}
