//
// Variables
//----------------------------------------------
$search-padding-hor:     10px;
$search-padding-vert:    11px;

//
//  Search mini form
//  ---------------------------------------------

.block-search{
    display: flex;
    align-items: center;
    justify-content: center;
    order: 100;

    .block-title,
    .nested{
        display: none;
    }
}

//
//  Desktop view Search
//-----------------------------------------------
.sm-desktop .block-search{
    margin-left: 0;

    .search-control_wrapper{
        display: block !important;

        .ui-dialog-buttonpane{
            display: none;
        }
    }

    #search_mini_form{
        @include make-flex;
        position: static;

        .search .label{
            display: none;
        }

        .field{
            padding: 0;
            width: 100%;
            display: none;
            position: absolute;
            left: 0;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
            bottom: -70px;
            z-index: 30;
        }

        .control{
            position: static;
            top: auto;
            right: auto;
            left: auto;
        }

        input{
            font-size: 13px;
            line-height: 16px;
            padding: $search-padding-vert $search-padding-hor;
            width: 100%;
            height: 51px;
            font-family: $font-bold;
        }

        .actions{
            margin-left: -1px;
            position: relative;
        }
        button.search {
            color: $dark;
            background: $white;
            display: inline-block;
            backface-visibility: hidden;
            transform: translateZ(0);
            padding: 0;
            width: 40px;
            animation: none;
            margin-left: 15px;
            @include font-icon('\e8b6', $material-icons);
            &:before{
                font-size: 22px;
                line-height: 40px;
                width: 100%;
                text-align: center;
            }

            &.close {
                @include font-icon('\f00d', $fa);
                &:before{
                    font-size: 18px;
                }
            }

            span{
                display: none;
            }
            & + .disabled-mask {
                display: none;
            }

            &:disabled + .disabled-mask {
                display: block;
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                top: 0;
                cursor: pointer;
            }
        }
        .control .search {
            position: absolute;
            right: 20px;
            top: 5px;
        }
    }
}

//
//  Mobile view Search
//-----------------------------------------------

.sm-mobile .block-search{
    #search_mini_form{
        &,
        > .search{
            display: block !important;
            position: absolute;
            z-index: 51;
            top: 0;
            right: 0;
            height: 0;
            padding: 0;
            margin: 0;
            opacity: 1 !important;
        }

        .ui-dialog-buttonpane{
            display: none;
        }
    }


    .search .label{
        display: block !important;
        position: absolute;
        z-index: 11;
        top: 19px;
        right: 50px;
        font-family: $default-icon-family;
        width: 20px;
        height: 25px;
        background: transparent;
        @include toggle-icons-via-rotation(25px, 18px, $sm-header-contrast-color, '\ea66', '\ea5c');

        span{
            text-indent: 200vw;
            transition: none;
            &:before,
            &:after{
                text-indent: 0;
                transition: none;
            }
        }
    }
    .field.search > .search-control_wrapper{
        position: fixed;
        z-index: 10;
        left: auto;
        top: 0;
        right: 2*$rd-navbar-panel-height;
        width: 0;
        height: $rd-navbar-panel-height;
        transition: $default-transition;

        > .control{
            height: 100%;
        }

        input{
            border-radius: 0;
            height: 100%;
            width: 100%;
            display: block;
            background: $white;
            border: none;
            font-size: 12px;
            line-height: 14px;
            padding: 16px 0 16px 0;
        }
    }

    #search_mini_form .search.active .search-control_wrapper{
        right: 0;
        left: 0;
        z-index: 97;
        height: 53px;
        transition: $default-transition;
        width: 95%;
        margin: 100px auto 0;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
        border-radius: 3px;

        input{
            padding: 16px 112px 16px 16px;
            border-radius: 3px;
        }
    }

    form{
        button.search{
           display: none;
        }
    }

    .field.search.active + .actions button[type="submit"]{
        top: 0;
        opacity: 1;
        z-index: 99;
        &:hover{
            color: $text-dark;
        }
    }
}

