<?php
/** @var \TemplateMonster\Blog\Block\Widget\PostList $block */
$dateFormat = $this->getDateFormat();
if ($block->isEnabledCarousel()) {
    $itemWidth = "";
} else {
    $itemWidth = $block->getPostAmountPerRow() ? sprintf('flex-basis: %1$.2f%%; -webkit-flex-basis: %1$.2f%%; max-width: %1$.2f%%;', 100 / $block->getPostAmountPerRow()) : '';
}
?>
<?php $id_my_widget = rand(1,100); ?>
<?php if(!$block->isEnabledCarousel()): ?>
    <style>
        @media (min-width: 991px) {
            .id-<?php echo $id_my_widget; ?> .post-items > .post-item {
            <?php echo $itemWidth ?>
            }
        }
    </style>
<?php endif;  ?>

<?php if ($posts = $this->getPosts()) : ?>
    <div class="block widget blog-posts widget-post-grid id-<?php echo $id_my_widget; ?>">
        <div class="container">
            <div class="block-title">
                <strong role="heading" aria-level="2"><?php echo __($block->getTitle()) ?></strong>
            </div>
            <div class="block-content">
                <div class="post-items"<?php if ($block->isEnabledCarousel()): ?> data-mage-init='{"blogCarousel": {"items": "<?php /* @escapeNotVerified */ echo $block->getPostAmountPerView(); ?>"}}' <?php endif; ?>>
                    <?php foreach ($posts as $post): ?>
                        <div class="post-item">
                            <div class="item-wrapper">
                                <!-- Image -->
                                <?php if ($image = $post->getImage()): ?>
                                    <div class="post-image">
                                        <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                                    </div>
                                <?php endif; ?>

                                <div class="post-info">
                                    <!-- Title -->
                                    <div class="post-title">
                                        <h3>
                                            <a href="<?php echo $this->getPostUrl($post); ?>">
                                                <?php echo $block->getStringTruncated($post->getTitle(), $block->getPostTitleLength()) ?>
                                            </a>
                                        </h3>
                                    </div>

                                    <!-- Metadata -->
                                    <div class="post-data">
                                        <?php if ($post->getCommentsEnabled()) : ?>
                                            <span class="post-comments">
                                            <a href="<?php echo $this->getPostUrl($post); ?>#post-comments">
                                                <span class="count">
                                                    <?php echo $post->getApprovedComments()->count(); ?>
                                                </span>
                                            </a>
                                        </span>
                                        <?php endif; ?>
                                        <span class="create-date material-icons-access_time">
                                            <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
                                        </span>
                                        <?php if ($author = $post->getAuthor()): ?>
                                            <span class="post-author">
                                            <span class="label"><?php echo __('by '); ?></span>
                                            <span class="author"><?php echo $author; ?></span>
                                        </span>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>