<?php
/** @var \TemplateMonster\Blog\Block\Widget\PostList $block */
$dateFormat = $this->getDateFormat();
?>
<?php if ($posts = $this->getPosts()) : ?>
    <div class="block widget blog-posts widget-post-list">
        <div class="background-coloring"></div>
        <div class="block-title">
            <strong role="heading" aria-level="2"><?= __($block->getTitle()) ?></strong>
            <a href="<?= $block->getUrl('blog') ?>"><?= __('View All') ?></a>
        </div>
        <div class="block-content">
            <div class="post-items js-hook__blog-slick list">
                <?php foreach ($posts as $post): ?>
                    <div class="post-item">
                        <div class="item-wrapper">
                            <!-- Image -->
                            <?php if ($image = $post->getImage()): ?>
                                <div class="post-image">
                                    <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                                </div>
                            <?php endif; ?>
                            <div class="post-content-wrapper">

                                <!-- Title -->
                                <div class="post-title">
                                    <h3>
                                        <a href="<?php echo $this->getPostUrl($post); ?>">
                                            <?php echo $block->getStringTruncated($post->getTitle(), $block->getPostTitleLength()) ?>
                                        </a>
                                    </h3>
                                </div>

                                <!-- Creation datetime -->
                                <div class="post-created">
                                    <span class="create-date material-icons-access_time">
                                        <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
                                    </span>
                                </div>

                                <!-- Short Description -->
                                <div class="post-short-content">
                                    <?php echo $block->filterContent($block->getStringTruncated($post->getShortContent(), $block->getPostDescLength())); ?>
                                    <a href="<?php echo $this->getPostUrl($post); ?>" class="post-link">
                                        <?php /* @escapeNotVerified */ echo __('View More'); ?>
                                    </a>
                                </div>

                                <!-- Metadata -->
                                <div class="post-data">
                                    <?php if ($post->getCommentsEnabled()) : ?>
                                        <span class="post-comments">
                                        <a href="<?php echo $this->getPostUrl($post); ?>#post-comments">
                                            <span class="count material-icons-chat_bubble_outline">
                                                <?php echo $post->getApprovedComments()->count(); ?>
                                            </span>
                                        </a>
                                    </span>
                                    <?php endif; ?>
                                    <span class="create-date material-icons-access_time">
                                        <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
                                    </span>
                                    <?php if ($author = $post->getAuthor()): ?>
                                        <span class="post-author material-icons-person">
                                        <span class="label"><?php echo __('by '); ?></span>
                                        <span class="author"><?php echo $author; ?></span>
                                    </span>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>