<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

    <div data-block="minicart" class="minicart-wrapper">
        <a class="action showcart" href="<?php /* @escapeNotVerified */
        echo $block->getShoppingCartUrl(); ?>"
                                          data-bind="scope: 'minicart_content'">
                <span class="text"><?php /* @escapeNotVerified */
                    echo __(''); ?></span>
            <span class="counter qty empty"
                  data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                <span class="counter-number">
                    <!-- ko if: !getCartParam('summary_count') -->
                        <!-- ko text: 0 --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: getCartParam('summary_count') -->
                            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                    <!-- /ko -->
                </span>
                <span class="counter-label">
                    <!-- ko if: getCartParam('summary_count') == 1 -->
                        <!-- ko i18n: 'item' --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: getCartParam('summary_count') > 1 -->
                        <!-- ko i18n: 'items' --><!-- /ko -->
                    <!-- /ko -->
                </span>
            </span>
            <span class="showcart-label"><?php /* @escapeNotVerified */ echo __('My Cart') ?></span>
        </a>
        <?php if ($block->getIsNeedToDisplaySideBar()): ?>
            <div class="block block-minicart empty"
                 data-role="dropdownDialog"
                 data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnClickOutside": true,
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
                <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <?php echo $block->getChildHtml('minicart.addons'); ?>
            </div>
        <?php endif ?>
        <script>
            window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
        </script>
        <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */
            echo $block->getJsLayout(); ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */
            echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }

        </script>
    </div>


