<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
$optionsHelper = $this->helper('TemplateMonster\ThemeOptions\Helper\Data');

?>

<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>

<div class="tm-logo-container">
    <div class="tm-logo-image">
        <?php if ($block->isHomePage()):?>
        <span class="logo">
        <?php else: ?>
            <a class="logo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
        <?php endif ?>
                <img src="<?php echo $block->getLogoSrc() ?>"
                     alt="<?php echo $block->getLogoAlt() ?>"
                    <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
                    <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
                />
                <?php if ($block->isHomePage()):?>
            </span>
    <?php else:?>
        </a>
    <?php endif?>

        <?php if($optionsHelper->isImageSlogan()): ?>
            <strong class="tm-slogan <?php echo $optionsHelper->getImageSloganPosition(); ?>">
                <?php echo $optionsHelper->getImageSloganText(); ?>
            </strong>
        <?php endif; ?>
    </div>
</div>