<?php
    $products = $this->getProducts();
?>
<?php foreach($products as $product): ?>
<div class="product">
    <div class="product-name"><a href="<?php echo $this->getProductUrl($product); ?>"> <?php echo $product->getName(); ?> </a>
        <img class="product-image" src="<?php echo $this->getProductImage($product); ?>" alt="">
    </div>



</div>
<?php endforeach; ?>
