.quote-content{
  display: flex;
  flex-flow: column;
  align-items: center;
  .quote-form{
    width: 85%;
    display: flex;
    flex-flow: column;
    align-items: center;
    &__field{
      width: 100%;
      input{
        height: 30px;
        box-sizing: border-box;
        &:focus{
          outline: none;
        }
      }
      label{
        user-select: none;
      }
      &.select{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        select{
          width: initial;
          &:focus{
            outline:none;
          }
        }
      }
      &.radio-group{
        display: flex;
        flex-flow: row wrap;
        .radio-group__label{
          width: 100%;
          &:after{
            content: '*';
            color: $red;
            margin-left: 10px;
          }
        }
        label{
          position: relative;
          margin: 5px 0 0 30px;
          cursor: pointer;
          user-select: none;
          &:hover span {
            border-color: $low-green;
            box-shadow: inset 0 0 3px 0 $low-green;
          }
          input{
            opacity: 0;
            position: absolute;
            cursor: pointer;
            &:checked + span{
              border-color: $low-green;
              box-shadow: inset 0 0 5px 0 $low-green;
              &:after{
                display: block
              }
            }
          }
          span{
            position: absolute;
            left: -23px;
            top: 4px;
            border: 1px solid $grey;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            &:after{
              content: '';
              display: none;
              position: absolute;
              top: 3px;
              left: 3px;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background: $low-green;
            }
          }

        }
      }
    }
    &__notes{
      display: flex;
      margin-top: 20px;
      flex-flow: column;
      width: 100%;
      textarea:focus{
        outline: none;
      }
    }
  }
}