//
// Grid system
// --------------------------------------------------

$column-count: 12;
$column-width: 107px;
$gutter-width: 40px;

$row-ws: 0;

$container-xs: 300px;
$container-sm: 720px + $gutter-width;
$container-md: 940px + $gutter-width;
$container-lg: 1150px + $gutter-width;
$container-xl: 1340px + $gutter-width;
$container-xxl: $column-count*$column-width + $gutter-width*$column-count;

// Layouts
$layout-boxed-width: 1920px;

// Resolutions
$screen-xs-min:  480px;
$screen-sm-min:  768px;
$screen-md-min:  992px;
$screen-mmd-min: 1024px;
$screen-lg-min:  1200px;
$screen-xl-min:  1400px;
$screen-xxl-min: 1800px;

$screen-mob-min: $screen-md-min; // break-point for mobile styles

// Fonts
$default-font-family: 'Open sans', sans-serif;
$default-font-weight: 400;
$default-font-size: 14px;
$default-line-height: 1.5em;

// Icons
$material-icons: 'Material Icons';
$icon-mini: 'Nucleo Mini';
$icon-outline: 'Nucleo Outline';
$default-icon-family: 'Nucleo Mini';
$fa: 'FontAwesome';
$fab: 'Font Awesome 5 Brands';

// Colors
$white: #fff;
$black: #000;
$default: #777777;

$allow: #3bb141;
$denied: #ff5555;
$attention: #ff5555;

$review-star: #ffa800;

$border-color: #f0f0f0;

/* Custom variables */

//colors
$red: #D0021B;
$blue: #066EC0;
$dark-blue: #004F8D;
$green: #189331;
$yellow: #F6C23D;
$dark: #313131;
$white: #ffffff;
$grey: #4A4A4A;
$light-grey: #C7C7C7;
$milk-grey: #E7E7E7;
$middle-grey: #9b9b9b;

//secondary colors
$low-blue: #0877AE;
$pink: #F35564;
$low-green: #388C51;
$wheel: #F6BD70;
$orange: #F18146;

$primary: $low-blue;
$accent: #333333;
$text-dark: $dark;
$text-light: $grey;
$text-lightest: $middle-grey;
$unactive: $middle-grey;

$bg-light: lighten($milk-grey, 5%);
$bg-dark: $milk-grey;


$box-shadow: 12px 14px 11px 0 rgba(0,0,0,0.16);

//Fonts Nunito
$font-regular: 'Nunito';
$font-light: 'Nunito Light';
$font-bold: 'Nunito Bold';
$font-semibold: 'Nunito SemiBold';
$font-extrabold: 'Nunito ExtraBold';
$font-black: 'Nunito Black';

// Smart header vars

$sm-header-main-color: $dark;
$sm-header-contrast-color: $dark;
$sm-header-text-color: $text-light;
$sm-header-hover-color: $primary;
$sm-header-panel-height: 0;

$sm-header-item-fontsize: 14px;
$sm-header-item-lineheight: 16px;
$sm-header-item-padding: 17px;
$sm-header-item-border: 1px solid $border-color;
$sm-header-item-bg-1: #f1f1f1;
$sm-header-item-bg-2: #e7e7e7;

$rd-navbar-panel-height: 56px;

$default-header-shadow: none;

//Indents
$indent-base: 2rem;
$indent-large:  $indent-base * 2;
$indent-small:  $indent-base / 2;

//Links
$link-regular:  $low-blue;
$link-hover:    $dark;
$link-active:   $low-blue;
$link-alt:      $grey;

//Transition
$default-transition: .3s ease;

//Inputs
$input-bg-color:        $white;

//FontAwesome Icons
$arrow-circle-right: '\f35a';
$arrow-right: '\f105';
$arrow-long-left: '\f30a';

$chevron-up: '\f077';
$chevron-down: '\f078';
$chevron-left: '\f053';
$chevron-right: '\f054';


//Social
$facebook-icon: '\f39e';
$twitter-icon: '\f099';
$instagram-icon: '\f16d';
$youtube-icon: '\f167';
$flickr-icon: '\f16e';
$printerest-icon: '\f0d2';
$linkedin-icon: '\f08c';