@import '_variables.scss';

#page-preloader{
    @media print {
        display: none;
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        border-radius: 50%;
        border: 4px solid rgba($primary, 0.5);
        animation: loader-rotate 1s ease-in-out infinite;

        &:before{
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $primary;
            position: absolute;
            top: -9px;
            left: 50%;
            margin-left: -8px;
        }
    }

}

@keyframes loader-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}