@mixin theme-h1 {
  color: $red;
  font-family: $font-extrabold;
  letter-spacing: 1.5px;
  font-size: 30px;
  line-height: 1.25;
  @include tablets {
    font-size: 40px;
    line-height: 54px;
  }
}

@mixin theme-h2 {
  color: $dark;
  font-size: 25px;
  font-family: $font-bold;
  letter-spacing: 1.13px;
  line-height: 1.25;
  @include tablets {
    font-size: 30px;
    line-height: 41px;
  }
}

@mixin theme-h4 {
  color: $red;
  font-size: 20px;
  font-family: $font-bold;
  line-height: 1.25;
  @include tablets {
    font-size: 28px;
    line-height: 38px;
  }
}

@mixin theme-p {
  color: $dark;
  font-size: 13px;
  line-height: 1.25;
  font-family: $font-regular;
  @include tablets {
    font-size: 16px;
    line-height: 21px;
  }
}

@mixin theme-link {
  color: $red;
  font-size: 15px;
  font-family: $font-bold;
  line-height: 1.25;
  transition: color .2s ease-in-out;
  &:hover {
    color: $low-blue;
  }
}

@mixin theme-button {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-family: $font-bold;
  min-width: 150px;
  text-align: center;
  letter-spacing: 1.14px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

@mixin theme-button-style($style, $color, $background) {
  @include theme-button;
  color: $color;
  @if $style == 'full' {
    background: $background;
    transition: background .3s ease-in-out;
    &:hover {
      background: darken($background, 10%);
      animation: hvr-push .3s ease 1;
    }
  }
  @if $style == 'empty' {
    border: 2px solid $background;
    background: transparent;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    &:hover {
      background: $background;
      color: $white;
      animation: hvr-push .3s ease 1;
    }
  }
}

@mixin list-marker($color){
  &::before{
    position: absolute;
    left: -10px;
    content: '';
    border: 2px solid $color;
    height: 5px;
    width: 5px;
    transform: rotate(45deg) translateY(15px);
    outline: $color auto 2px;
    box-shadow: inset 0 0 5px -1px $color;
  }
}