//
//  Minicart block
//  ---------------------------------------------


// Action showcart

.minicart-wrapper .action.showcart {
    @include make-flex;
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    display: none;

    span,
    strong{
        display: inline-block;
        font-weight: normal;
    }

    .loading-mask{
        display: none;
    }

    .text{
        position: relative;
        width: 49px;
        height: 33px;
        padding-right: 16px;

        &:before, &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-family: $default-icon-family;
            font-size: 26px;
            line-height: 33px;
            transition: .3s transform ease;
            text-align: left;
            transform-origin: 16px center;
        }

        &:before {
            content: '\ebb2';
            @include transform(rotate(0deg) scale(1));
            opacity: 1;
            visibility: visible;
        }

        &:after {
            content: '\ea5c';
            @include transform(rotate(-90deg) scale(0));
            opacity: 0;
            visibility: hidden;
        }
    }

    &.active {
        .text {
            &:before {
                opacity: 0;
                visibility: hidden;
                @include transform(rotate(90deg) scale(0));
            }

            &:after {
                @include transform(rotate(0deg) scale(1));
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .qty{
        position: absolute;
        top: 50%;
        left: 50px;
        color: $default;
        font-size: 12px;
        line-height: 25px;
        width: 25px;
        height: 25px;
        margin-top: -12px;
        border-radius: 25px;
        background: $bg-dark;
        text-align: center;
        .counter-label{
            display: none;
        }
    }
}

.block-minicart{
    display: none;
    text-align: left;
    color: $default;
    background: $white;
    box-shadow: $default-header-shadow;
    transition: $default-transition;
    overflow: hidden;

    ::-webkit-scrollbar {
        width: 3px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba($accent,0.8);
        -webkit-box-shadow: inset 0 0 6px rgba($accent,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba($accent, .3);
    }

    &.empty {
        height: auto;

        .block-content{
            padding-top: 16px;
        }
    }

    .block-title{
        display: none;
    }

    .block-content > .subtitle{
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        color: $accent;
        padding: 0 16px;

        &.empty{
            font-size: 14px;
            color: $text-dark;
            span{
                vertical-align: baseline;
            }
        }
    }

    .action.close{
        position: absolute;
        z-index: 20;
        right: 0;
        top: 0;
        padding: 5px 10px;
        color: $default;
        background-color: transparent;
        @include font-icon('\e5cd', $material-icons);
        display: none;
        &:hover{
            color: $primary;
            background-color: transparent;
        }
    }

    .block-content {
        padding: 28px 0 16px;

        .items-total {
            font-size: 12px;
            color: $default;
            padding: 0 16px 16px;

            .count,
            span:nth-child(2){
                color: $primary;
                font-weight: 700;
            }
        }

        > .subtotal{
            @include make-flex();
            @include justify-content(space-between);
            @include align-items(flex-end);
            padding: 0 16px 30px;
            font-weight: 700;
            .label{
                font-size: 18px;
                line-height: 1;
                color: $accent;
            }
            .amount{
                font-size: 22px;
                line-height: 1;
                color: $primary;
            }
        }

        #top-cart-btn-checkout {
            width: 100%;
        }

        > .actions{
            padding: 0 16px;

            button.primary{
                padding: 14px 33px;

                span:after{
                    @include font-icon__pseudo('\e939', $icon-mini);
                    padding-left: 12px;
                }
            }

            .secondary{
                margin-bottom: 16px;
            }
            .viewcart{
                @include button-block;
                width: 100%;
                text-align: center;
                padding: 14px 33px;
            }
        }

        .paypal.checkout{
            margin-top: 8px;
        }
    }

    // .action.delete, .action.edit mixin in Magento_Theme\web\css\source\_module.scss

//Minicart items
    .minicart-items{
        overflow-y: auto;
        height: 100%;

        > li {
            padding: 0 0 16px;
            > .product{
                padding: 0 16px 16px;
                border-bottom: 1px solid $border-color;
            }
            &:first-child > .product{
                padding-top: 24px;
            }
        }

        > li > .product{
            overflow: hidden;
            position: relative;
            @include make-flex;
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(flex-start);

            .product-item-photo{
                @include flex-basis(97px);
            }
            .product-image-container{
                display: inline-block;
                max-width: 100%;
            }
            .product-image-wrapper{
                height: auto;
                padding: 0 !important;

                .product-image-photo{
                    position: static;
                }
            }

            .product-item-details {
                padding-left: 8px;
                position: relative;
                @include flex-basis(calc(100% - 97px));
            }

            .product-item-name{
                font-size: 14px;
                line-height: 23px;
                display: inline-block;
                margin-bottom: 8px;

                a{
                    color: $text-light;
                }
                a:hover{
                    color: $primary;
                }
            }
        }
        .product-item-price{
            .price-container{
                margin-bottom: 8px;
            }
            .minicart-price{
                color: $primary;
                font-size: 20px;
                line-height: 1;
                font-weight: 700;
            }
        }
        .details-qty{
            position: relative;
            @include make-flex;
            @include align-items(center);

            .label{
                display: none;
            }
            .cart-item-qty{
                padding: 17px;
                width: 80px;
                font-size: 12px;
                line-height: 14px;
                vertical-align: baseline;
                background: $input-bg-color;
                border: 1px solid $border-color;
                border-radius: 4px;
                text-align: center;
            }
            .update-cart-item{
                @include font-icon("\e92d", $icon-mini);
                font-size: 20px;
                line-height: 1;
                margin-left: 4px;
                color: $primary;
                &:hover{
                    color: $text-dark;
                }
                span{
                    display: none;
                }
            }
        }


        //Options
        .product.options[role="tablist"]{
            margin-bottom: 8px;

            .toggle{
                cursor: pointer;
                color: $primary;
                font-size: 12px;
                line-height: 14px;
                font-weight: 700;
                margin-bottom: 0;
                @include font-icon('\e926', $icon-mini);
                &:before{
                    color: $default;
                    font-size: 12px;
                    line-height: 10px;
                    top: 4px;
                }
                &:after{
                    font-size: 14px;
                    line-height: 14px;
                    padding: 6px;
                    position: absolute;
                    top: -26px;
                    right: 0;
                }
            }

            &.active .toggle{
                position: static;
                &:after{
                    @include font-icon__pseudo('\e5cd', $material-icons);
                }
            }

            .content{
                position: absolute;
                z-index: 9;
                top: 0;
                right: 0;
                bottom: 0;
                left: 7px;
                padding: 4px;
                background: $white;
                border: 1px solid $border-color;
                margin-bottom: 0;
                overflow-y: auto;
            }

            .content .subtitle{
                display: none;
            }

            .list{
                font-size: 12px;
                @include make-flex();
                @include flex-wrap(wrap);
                @include flex-direction(row);

                >dt, >dd{
                    @include flex-basis(50%);
                }
            }
        }

        //Actions
        .product.actions{
            font-size: 14px;
            line-height: 1;
            margin-bottom: 8px;
            @include flex-basis(100%);

            .primary,
            .secondary{
                display: inline-block;
            }
            .secondary{
                margin-left: 16px;
            }
            a{
                color: $text-lightest;
                background: transparent;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}

.sm-desktop {
    .minicart-wrapper {
        position: relative;
        float: right;
        margin-left: 10px;
        display: none;

        &.active .block-minicart{
            visibility: visible;
            opacity: 1;
            @include transform(translateY(0));
        }

        .action.showcart{
            height: 40px;

            &.active,
            &:hover{
                .text{
                    background: $text-dark;
                }
            }

            .text{
                width: 40px;
                height: 40px;
                background: $primary;
                transition: background $default-transition;
                &:before,
                &:after{
                    color: $white;
                    line-height: 40px;
                    width: 100%;
                    text-align: center;
                }
                &:before{
                    font-family: $material-icons;
                    content: '\e8cc';
                    font-size: 22px;
                }
                &:after{
                    font-size: 18px;
                }
            }
            .qty{
                color: $accent;
                position: relative;
                top: auto;
                left: auto;
                border-left: none;
                border-radius: 0;
                background: $bg-light;
                height: 40px;
                width: 40px;
                margin: 0;
                padding: 0;

                .counter-number{
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    line-height: 40px;
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
            }
            .showcart-label{
                display: none;
            }
        }
    }

    .block-minicart {
        display: block;
        position: absolute;
        width: 320px;
        top: calc(100% + 4px);
        right: 0;
        visibility: hidden;
        opacity: 0;
        @include transform(translateY(30px));
        z-index: 19;
    }
}

.sm-mobile div:not(.opc-estimated-wrapper) {
    .minicart-wrapper {
        padding: 0;
        margin: 0;
        display: none;
    }

    .action.showcart {
        position: fixed;
        z-index: 19;
        top: 0;
        right: 0;
        width: 1.5*$sm-header-panel-height;
        height: $sm-header-panel-height;

        .text {
            color: $sm-header-contrast-color;
        }

        .showcart-label{
            display: none;
        }
    }

    .block-minicart{
        display: block;
        position: fixed;
        z-index: 21;
        top: $sm-header-panel-height;
        right: 0;
        bottom: 0;
        width: 320px;
        opacity: 0;
        overflow-y: auto;
        @include transform(translateX(100vw));
    }
    .minicart-wrapper.active .block-minicart{
        opacity: 1;
        @include transform(translateX(0));
    }
}
