<?php

/**
 * @var $block \Skynix\Backend\Block\Footer
 */

$region    = $block->getRegionNameById($block->getRegionId());
$city      = $block->getCity();
$street    = $block->getStreet();
$postCode  = $block->getPostcode();
$phone     = $block->getPhone();
$copyright = $block->getCopyright();

?>
<div class="footer__main-content">
    <div class="footer__block information-block">
        <h3 class="footer__block-caption">Information</h3>
        <div class="footer__adress">
          <span class="footer__adress-icon"></span>
          <p class="footer__adress-text">
              <?php echo "$street<br>$city, $region $postCode"; ?>
            </p>
        </div>
        <div class="footer__phone-num">
            <span class="footer__phone-num-icon"></span>
            <p class="footer__phone-num-text"><?php echo $phone; ?></p>
        </div>
    </div>
    <div class="footer__block links-block">
        <h3 class="footer__block-caption">Links</h3>
        <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-links')->toHtml() ?>
    </div>
    <div class="footer__block follow-us-block">
        <h3 class="footer__block-caption">Follow us</h3>
        <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-follow-us-links')->toHtml() ?>
    </div>
</div>
<hr class="footer__separator">
<div class="footer__block copyright-block">
    <p><a href="<?php echo $this->getUrl('privacy-policy'); ?>">Privacy Policy</a> | <a href="<?php echo $this->getUrl('terms-and-conditions'); ?>">Terms &amp; Conditions</a></p>
    <p><?php echo $copyright ?></p>
</div>