<!--Google Tag Manager integration-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1881567-1"></script>
<script>
window.dataLayer = window.dataLayer || [];

function gtag() {
  dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'UA-1881567-1');
</script>
<!--Google Tag Manager integration END-->
