// Import

@import '_vars.scss';

@import '_topNav.scss';
@import '_sidebarNav.scss';

// Main Styles


nav.navigation[role="navigation"]{
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

	@media (min-width: $screen-sm-min) {
		.row{
			margin-bottom: 0;
            position: relative;
		}

		ul.vm-static,
		ul.vm-easing {
			margin-left: 10px;
		}
		ul.vm-pop-up {
			position: absolute;
			z-index: 9;
			top: 100%;
			left: 0;
			width: 100%;
			background: $white;
			box-shadow: 1px 1px 5px #cccccc;
		}
	}

	@media (max-width: $screen-sm-min - 1) {

		li.level-top .megamenu-wrapper,
		a.level-top .megamenu-wrapper {
			padding: 0;
			background: none;
		}

		[class*="col-"]{
			padding: 0;
		}
	}

	&.mobile-only,
	&.desktop-only{
		visibility: hidden;
		opacity: 0;
		display: none;
	}

	&.active {
		visibility: visible;
		opacity: 1;
		display: block;
	}
}

//=================================

.tm-top-navigation > .ui-menu{
    @include make-flex;
    @include align-items(flex-start);
}

.sm-desktop .tm-top-navigation > .ui-menu{
    padding-left: 0;
    padding-right: $gutter-width / 2;

    @media (min-width: $screen-xl-min){
        padding-left: 0;
        padding-right: 0;
    }
}

.navigation li.level-top .megamenu-wrapper{
    @media (min-width: $screen-md-min) {
        position: absolute !important;
        left: 0 !important;
        top: 100% !important;
        width: 100%;
        z-index: 9998;

        > .container{
            padding: 20px 20px 5px;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: $screen-xxl-min){
                padding: 40px 0 13px;
            }

            > .row > div:first-child > * {
                padding-left: 0;
            }
            > .row > div:last-child > * {
                padding-right: 0;
                float: right;
            }
        }

        .mm-custom-width-1{
            @include flex-basis(14.6%);
        }
        .mm-custom-width-2{
            @include flex-basis(27%);
        }
        .mm-cat-block{
            border-left: 1px solid $border-color;
            &:first-child{
                border-left: none;

                .mm-block_img{
                    width: 170px;
                    margin-left: 0;
                }
            }

            .mm-block_img{
                width: 210px;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 8px;
            }

            .mm-block_txt,
            .mm-submenu.level1{
                max-width: 180px;
                margin-right: auto;
                margin-left: auto;
            }
            .mm-block_txt{
                margin-bottom: 0;

                @media (max-width: $screen-lg-min){
                    display: none;
                }
            }

            .mm-submenu.level1 > li > a{
                color: $accent;
                font-weight: 700;
                display: inline-block;
                margin-bottom: 12px;
                &:hover{
                    color: $primary;
                }
            }
        }

        .mm-ban-block{
            a{
                display: block;
                position: relative;
                overflow: hidden;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    opacity: 0;
                    transition: opacity $default-transition;
                    background: rgba(255,255,255,0.51);
                    background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.51) 0%, rgba(255,255,255,0.5) 2%, rgba(237,237,237,0) 100%);
                    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.51)), color-stop(2%, rgba(255,255,255,0.5)), color-stop(100%, rgba(237,237,237,0)));
                    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.51) 0%, rgba(255,255,255,0.5) 2%, rgba(237,237,237,0) 100%);
                    background: -o-linear-gradient(-45deg, rgba(255,255,255,0.51) 0%, rgba(255,255,255,0.5) 2%, rgba(237,237,237,0) 100%);
                    background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.51) 0%, rgba(255,255,255,0.5) 2%, rgba(237,237,237,0) 100%);
                    background: linear-gradient(135deg, rgba(255,255,255,0.51) 0%, rgba(255,255,255,0.5) 2%, rgba(237,237,237,0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
                }
                &:hover:before{
                    opacity: 1;
                }
            }
        }
    }

    .mm_custom-col-1{
        @media (max-width: $screen-xl-min - 1){
            @include flex-basis(25%)
        }
    }
    .mm_custom-col-2{
        @media (max-width: $screen-xl-min - 1){
            @include flex-basis(50%)
        }
    }
    .mm_custom-col-3{
        @media (max-width: $screen-xl-min - 1){
            @include flex-basis(25%)
        }
    }
}

.page-header__inner > div:not(.isStuck) .navigation li.level-top .megamenu-wrapper > .container{
    @include navigation-container;
}

.navigation li.level-top .tm-megamenu .static-block{
    height: auto;
}
.mm_block-1{
    border-left: 1px solid #e1e1e1;
    padding-left: 74px;
    height: 100%;
    @include make-flex;

    @media (max-width: $screen-xl-min - 1){
        padding-left: 45px;
    }
    @media (max-width: $screen-lg-min - 1){
        padding-left: 30px;
    }

    a img{
        opacity: .8;
        transition: $default-transition;
    }
    a:hover img{
        opacity: 1;
    }

    .mm_block-1_box-1{
        @include flex-basis(36%);
        padding-right: 82px;

        @media (max-width: $screen-xl-min - 1){
            display: none;
        }
    }

    .mm_block-1_box-2{
        p{
            font-size: 13px;
            line-height: 21px;
            color: $text-light;
            margin-bottom: 32px;

            @media (min-width: $screen-xl-min){
                padding-left: 12px;
            }
            @media (max-width: $screen-lg-min - 1){
                display: none;
            }
        }
    }
    .mm_block-1_box-2_title{
        margin-bottom: 19px;

        @media (min-width: $screen-xl-min){
            padding-left: 12px;
        }

        a{
            color: $text-dark;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            position: relative;
            display: inline-block;
            &:hover{
                color: $primary;
            }

            @media (min-width: $screen-sm-min) {
                text-transform: uppercase;
            }
        }
    }

    .mm_block-1_box-2{
        @include flex-basis(100%);
        @include make-flex;
        @include flex-direction(column);

        @media (min-width: $screen-xl-min){
            @include flex-basis(64%);
        }
    }

    .mm_block-1_box-2_list{
        @include make-flex;

        li{
            @include flex-basis(33.3333%);
            @include make-flex;
            @include justify-content(center);
            @include flex-direction(column);
            text-align: center;
        }

        .mm_block-1_box-2_name{
            color: $text-dark;
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 16px;
            &:hover{
                color: $primary;
            }
        }
    }
}

.mm_block-2{
    max-width: 492px;
    margin-right: auto;
    margin-left: auto;

    img{
        display: block;
    }

    .mm_block-2_inner{
        position: relative;
    }

    .mm_block-2_txt{
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include make-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        span{
            font-size: 18px;
            line-height: 1;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 1.04vw;

            @media (min-width: $screen-xl-min){
                font-size: 2.6vw;
            }
        }

        a{
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: underline;
            color: $primary;
            &:hover{
                color: $white;
            }
        }
    }
}

.cat_with_img{
    border-right: 1px solid $border-color;

    .mm-image{
        margin-bottom: 0;
    }
    .mm-image img{
        margin-top: 2.0833vw;
        margin-bottom: 1.7708vw;

        @media (min-width: $screen-xxl-min){
            margin-top: 40px;
            margin-bottom: 34px;
        }
    }

    .mm-submenu.level1{

        > .item > a{
            color: $accent;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 18px;
            &:hover{
                color: $primary;
            }
        }
    }

    .mm-submenu.level2{
        > .item > a{
            color: $default;
            font-size: 13px;
            line-height: 15px;
            padding-left: 0;
            text-transform: none;
            &:before{
                display: none;
                padding: 0;
                margin: 0;
            }
            &:hover{
                color: $primary;
            }

            @media (min-width: $screen-xxl-min){
                line-height: 23px;
            }
        }
    }
}