// Main Styles

.navigation {
    li.level-top,
    a.level-top {
        position: static;

        .submenu .submenu-reverse {
            right: auto;
        }

        .mm-label {
            position: absolute;
            top: -10px;
            left: -5px;
            padding: 3px 7px;
            text-transform: uppercase;
            font-size: $label-font-size;
            line-height: $label-font-size * 1.2;
            color: $label-color;
            background-color: $label-bg;
            display: none;
            @media (min-width: $screen-md-min) {
                display: block;
            }
        }

        li {
            position: relative;

            a{
                color: $text-light;
                font-size: 13px;
                line-height: 16px;
                &:hover{
                    color: $primary;
                }
            }
        }

        .mm-image {
            display: none;
            margin-bottom: 10px;
            img {
                width: 100%;
                max-width: 100%;
            }
            @media (min-width: $screen-sm-min) {
                display: inline-block;
            }

        }

        .megamenu-wrapper > .container {
            top: 100%;
            left: 0;
            width: 100%;
            padding: 0 0 0 20px;
            margin-left: 0;

            @media (min-width: $screen-md-min) {
                background: $menu-bg;
                box-shadow: $menu-shadow;
                padding: 0 0 0 20px;
            }
            @media (max-width: $screen-md-min - 1) {
                .row {
                    margin-bottom: 0;
                }
            }
        }

        ul.mm-submenu {
            display: block;
            padding: 0;

            @media (max-width: $screen-sm-min - 1) {

                &.level1 li a {
                    padding-left: 15px;
                    padding-right: 0;
                }

                .mm-submenu {
                    padding-left: 15px;
                }
            }

            &.level2 li{
                + li{
                    margin-top: 6px;
                }
            }
        }

        .tm-megamenu {

            // FIRST level
            ul.level1 {
                > li {
                    @media (min-width: $screen-md-min){
                        padding-top: 4px;
                    }

                    > a {
                        @media (min-width: $screen-md-min){
                            color: $text-dark;
                            font-size: 14px;
                            line-height: 21px;
                            font-weight: 500;
                            position: relative;
                            display: inline-block;
                            margin-bottom: 14px;
                            &:hover{
                                color: $primary;
                            }
                        }

                        @media (min-width: $screen-md-min) {
                            text-transform: uppercase;
                        }
                    }
                }
            }

            // Link SECOND level
            ul.level2 {
                > li {
                    a {
                    }
                }
            }

            // Product
            .product {

                display: none;

                .product-image {
                    margin-bottom: 10px;
                    a {
                        display: block;
                        border: solid 1px $menu-border;
                        background: none;
                    }
                }
                .product-name {
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 0px;
                    margin-left: 0;
                    a {
                        padding: 0;
                        color: $name-color;
                        text-align: left;
                        color: $dark;
                        text-transform: capitalize;
                        margin-bottom: 16px;
                    }
                }
                .price-box {
                    font-weight: bold;

                    .price {
                        font-size: 1.2em;
                        line-height: 1.2em;
                    }
                    .old-price {
                        font-size: 1em;
                        text-decoration: line-through;
                    }
                    .special-price {
                        font-size: 1.2em;
                    }
                }

                @media (min-width: $screen-md-min) {
                    display: block;
                }
            }

            // Static Blocks
            .widget,
            .video,
            .static-block {
                display: none;
                @media (min-width: $screen-md-min) {
                    display: block;
                }
            }
        }

        &:hover,
        &.ui-state-focus {
            .megamenu-wrapper {
            }
        }
    }
}
