.custom-search {
  display: none;
  align-items: center;
  justify-content: center;
  order: 100;
  margin-top: 13px;

  button {
    color: $dark;
    background: $white;
    display: inline-block;
    backface-visibility: hidden;
    transform: translateZ(0);
    padding: 0;
    width: 40px;
    animation: none;
    margin-left: 15px;
    @include font-icon('\e8b6', $material-icons);
    &:before{
      font-size: 22px;
      line-height: 40px;
      width: 100%;
      text-align: center;
    }

    &.close {
      @include font-icon('\f00d', $fa);
      &:before{
        font-size: 18px;
      }
    }
  }

  &__control {
    margin-left: -1px;
    position: relative;
  }

  &__form {
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    bottom: -70px;
    z-index: 30;
    border-radius: 2px;


    .control {
      position: absolute;
      right: 20px;
      top: 5px;
    }

    button {
      position: absolute;
      right: 20px;
      top: 5px;
    }

    input{
      font-size: 13px;
      line-height: 16px;
      padding: 10px 11px;
      width: 100%;
      height: 51px;
      font-family: $font-bold;
      border: none;
      @include tablets-2 {
        padding-left: 20px;
      }

      &:focus,
      &:active {
        border: 1px solid $low-blue;
      }
    }
  }
}

.isStuck .custom-search {
  @include tablets-2 {
    display: flex;
  }
}