//
//  Form styles
//  _____________________________________________


//Form layout
.field{
    position: relative;
    padding: 8px 0;

    &.additional,
    &.choice {
        margin-bottom: 0;
    }
    &.note {
        margin-bottom: 16px;
    }

    .control {
        input {
            background: $input-bg-color;
        }
    }

    &.custom-label {
        padding: 8px 0;
        transition: $default-transition;

        .label {
            position: absolute;
            z-index: 2;
            top: 21px;
            left: 20px;
            pointer-events: none;
            transition: $default-transition;
            @include transform-origin(0 0);
        }

        &.focus .label {
            top: 6px;
            @include transform(scale(0.7));
            opacity: 0;
        }
    }

    .checkbox {
        margin: .75rem .5rem 0 0;
    }

    .field-tooltip-action {
        outline: none !important;
    }

    &.required {
        div.mage-error {
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            right: 0;
            padding-left: 0;
            font-size: 12px;
            line-height: 1;
        }

        .control {
            position: relative;

            &._with-tooltip input.input-text + div.mage-error {
                top: auto;
                bottom: 24px;
            }

            .field-tooltip.toggle {
                top: -25px;
            }
        }

        input.input-text {
            transition: margin-bottom $default-transition;

            &.mage-error {
                margin-bottom: 20px;
            }

            &#password.mage-error {
                margin-bottom: 30px;
            }
        }

        &.comment textarea.input-text {
            &.mage-error {
                margin-bottom: 30px;
            }
        }

        label:after {
            content: '*';
            color: $red;
            margin-left: 10px;
        }
    }

    &.select .control {
        &:after {
            content: $chevron-right;
            font-family: FontAwesome;
            top: 16px;
            right: 15px;
            position: absolute;
            opacity: .5;
            @include tablets {
                top: 14px;
            }
        }
        
        select {
            padding-right: 27px;
        }
    }

    label {
        font-family: $font-regular;
        font-size: 15px;
    }
}

.fieldset{
    .actions-toolbar{
        padding-top: 16px;
    }
}

.form .fieldset {
    margin-bottom: 24px;
}

.field.required > .label:not(.admin__field-label):after,
.field._required > .label:not(.admin__field-label):after,
.fieldset > .field.required > .label:not(.admin__field-label):after,
.fieldset > .fields > .field.required > .label:not(.admin__field-label):after {
    color: $denied;
    content: "*";
    font-size: 12px;
    margin: 0 0 0 5px;
}

//Typography
.legend,
legend{
    font-size: 1rem;
    font-weight: 600;
    +br{
        display: none;
    }
}

.input-text,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea{
    display: block;
    width: 100%;
    padding: 13px 18px;
    font-size: 15px;
    min-height: 2em;
    vertical-align: baseline;
    -webkit-appearance: none;
    background: $input-bg-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    line-height: 1.5;
    font-family: $font-regular;
    transition: border-color $default-transition;

    &.mage-error{
        border-color: red;
        font-style: normal;
    }

    &::-webkit-input-placeholder       {opacity: 1; transition: opacity $default-transition;}
    &::-moz-placeholder                {opacity: 1; transition: opacity $default-transition;}
    &:-moz-placeholder                 {opacity: 1; transition: opacity $default-transition;}
    &:-ms-input-placeholder            {opacity: 1; transition: opacity $default-transition;}
    &:focus::-webkit-input-placeholder {opacity: .5; transition: opacity $default-transition;}
    &:focus::-moz-placeholder          {opacity: .5; transition: opacity $default-transition;}
    &:focus:-moz-placeholder           {opacity: .5; transition: opacity $default-transition;}
    &:focus:-ms-input-placeholder      {opacity: .5; transition: opacity $default-transition;}

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }

    &:focus {
        border-color: $low-blue;
    }
}

select[multiple="multiple"]{
    padding: 0;
    min-height: 0;
}

option[value=''] {
   display: none;
}

select.placeholder {
    color: $default;
}

option {
    color: $dark;
}

textarea{
    max-width: 100%;
    max-height: 100px;
    resize: none;
    @include laptop {
        &.middle-height {
            height: 116px;
            max-height: 116px;
        }
        &.max-height {
            height: 182px;
            max-height: 182px;
        }
    }
}

p.required{
    color: $denied;
}

//Inline form
.form-inline{
    @include make-flex();
    .control{
        input,
        select,
        textarea{
            width: auto;
        }
    }
}

// Checkbox
.radio,
input[type="checkbox"],
input[type="radio"]{
    display: inline-block;
    width: auto;

    &.hidden {
        opacity: 0;
        position: absolute;
    }
}
input[type="submit"] {
    @include theme-button-style('full', $dark, $yellow);
    margin-top: 15px;
}

.field.choice{
    position: relative;
    font-size: 1rem;
    line-height: 1rem;

    > input[type=checkbox],
    > input[type=radio]{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    > input[type=checkbox],
    > input[type=radio]{
        + .label {
            &:before{
                display: inline-block;
                font-size: 16px;
                line-height: 1rem;
                width: 18px;
                height: 18px;
                font-family: $default-icon-family;
                font-style: normal;
                vertical-align: sub;
                color: $primary;
                text-align: center;
                padding-right: 3px;
            }

            span{
                display: inline-block;
            }
        }
    }

    > input[type=checkbox] + .label{
        &:before{
            @include font-icon__pseudo('\e835', $material-icons);
        }
    }
    > input[type=checkbox]:checked + .label:before{
        @include font-icon__pseudo('\e834', $material-icons);
    }
    > input[type=checkbox]:disabled:checked + .label:before{
        @include font-icon__pseudo('\e834', $material-icons);
        pointer-events: none;
        opacity: .6;
    }
    > input[type=radio] + .label:before{
        @include font-icon__pseudo('\e836', $material-icons);
    }
    > input[type=radio]:checked + .label:before{
        @include font-icon__pseudo('\e837', $material-icons);
    }
    > input[type=checkbox]:disabled:checked + .label:before{
        @include font-icon__pseudo('\e837', $material-icons);
        pointer-events: none;
        opacity: .6;
    }
    > input[type=checkbox],
    > input[type=radio]{
        &:disabled + .label:before{
            pointer-events: none;
            opacity: .6;
        }
    }
}


//
//  Messages styles
//  ---------------------------------------------

.mage-error:not(input):not(textarea){
    font-size: .8rem;
    line-height:1.2rem;
    font-style: italic;
    color: red;
}
//
//  Form columns styles
//  ---------------------------------------------
.form-columns {
    .fields-columns {
        @include laptop {
            margin-left: -10%;
            margin-right: -10%;
            display: flex;
            .form-column {
                width: 50%;
                padding: 0 20px;
            }
        }
        @include desktop {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .actions-toolbar {
        @include laptop {
            padding-left: 20px;
            margin-left: -10%;
        }
        @include desktop {
            margin-left: 0;
        }
    }
}