/*
* @subsection   Smart Header Mobile
*
* @description  Declare styles of header elements in mobile mode
*/

$header-links-color-list: $yellow $green $blue $red $dark;


.sm-mobile{
    .page-wrapper {
        padding-top: $sm-header-panel-height;
    }

    .welcome {
        display: none;

    }

    .page-header {
        position: fixed;
        width: 100%;
        background: $white;
        z-index: 100;
        .header-phone {
            @include font-icon("phone", $material-icons);
            color: $dark;
            font-size: 11px;
            text-align: left;
            font-family: $font-semibold;
            letter-spacing: -0.2px;
            position: absolute;
            top: 25px;
            &:before {
                color: $red;
                padding-right: 1px;
                font-size: 14px;
                vertical-align: -3px;
            }
            @include phones-small {
                font-size: 13px;
                &:before {
                    padding-right: 5px;
                    vertical-align: bottom;
                }
            }
        }
        &__content {
            height: 100px;

            .container {
                max-width: 760px;
                position: relative;
                @media (max-width: $screen-xs-min) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .isStuck-phone {
        display: none;
    }

// Customer menu

    .custom-nav-container {
        display: flex;
    }

    .header-switchers{
        display: none;
    }

    .sm-header_customer-menu-container{
        position: fixed;
        z-index: 20;
        top: $sm-header-panel-height;
        right: 0;
        left: 0;
        height: 0;
    }

    .sm-header_customer-menu-toggle{
        display: block;
        position: fixed;
        top: 0;
        right: 1.5*$sm-header-panel-height;
        font-family: $default-icon-family;
        width: $sm-header-panel-height;
        height: $sm-header-panel-height;
        @include toggle-icons-via-rotation($sm-header-panel-height, 20px, $sm-header-contrast-color, '\ea0a', '\ea5c');
        z-index: 20;
    }

    .sm-header_customer-menu-container .sm-header_customer-menu .welcome{
        display: none;
    }

    .sm-header_customer-menu-wrap.ui-dialog{
        position: fixed;
        z-index: 20;
        top: $sm-header-panel-height;
        right: 0;
        bottom: 0;
        width: 320px;

        .ui-dialog-buttonpane{
            display: none;
        }

        &.active{
            visibility: visible;
            box-shadow: $default-header-shadow;
        }

        .links li{
            display: block;
        }
        .links a{
            display: block;
            color: $text-light;
            font-size: 14px;
            line-height: 16px;
            font-weight: 700;
            padding: 17px 16px;
            border-bottom: 1px solid $border-color;
            &:hover{
                color: $primary;
            }
        }

        .switcher{
            border-bottom: 1px solid $border-color;

            .switcher-options{
                display: block;
            }
            .switcher-trigger{
                cursor: pointer;
                display: block;
                color: $text-light;
                font-size: 14px;
                line-height: 16px;
                font-weight: 700;
                padding: 17px 16px;
                &:after{
                    @include font-icon__pseudo('\e926');
                    padding-left: 4px;
                }
                &:hover{
                    color: $primary;
                }
                &.active:after{
                    content: '\e929';
                }
                span{
                    vertical-align: text-top;
                }
            }

            .mage-dropdown-dialog{
                position: relative;
                padding: 0 8px 0 32px;

                li{
                    margin-bottom: 16px;
                }
                a{
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 700;
                    color: $text-light;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }

    .sm-header_customer-menu.ui-dialog-content{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $white;
        box-shadow: $default-header-shadow;
        transition: $default-transition;
        text-align: left;
        overflow: auto;
        @include transform(translateX(100vw));
    }

    .sm-header_customer-menu-container.active .sm-header_customer-menu.ui-dialog-content{
        @include transform(translateX(0));
    }

// Categories menu

    .sm-header-nav-toggle{
        background: transparent;
        display: block;
        position: absolute;
        z-index: 17;
        top: 10px;
        right: 13px;
        width: 20px;
        height: 30px;

        span {
            width: 100%;
            height: 3px;
            position: relative;
            background: $blue;
            border-radius: 5px;
            display: block;


            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                display: block;
                border-radius: 5px;
            }

            &:before {
                background: $red;
                margin-top: 6px;
            }

            &:after {
                background: $green;
                margin-top: 12px;
            }
        }

        &.active {
            font-family: $default-icon-family;
            background: transparent;
            transition: none;

            @include toggle-icons-via-rotation($rd-navbar-panel-height, 18px, $sm-header-contrast-color, '\ea66', '\ea5c');

            span {
                text-indent: 200vw;
                background: transparent;
                width: 20px;
                height: 30px;
                line-height: 1;
                transition: none;
                &:before,
                &:after {
                    text-indent: 0;
                    background: transparent;
                    margin-top: 10px;
                    transition: none;
                    top: 2px;
                }

            }
        }
    }

    .sm-header-menu-wrap{
        position: fixed;
        z-index: 999;
        top: 100px;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .sm-header-nav-wrap .ui-dialog-buttonpane{
        display: none;
    }

    nav.navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        //color: $sm-header-text-color;
        background: $white;
        box-shadow: none;
        z-index: 15;
        transition: $default-transition;
        margin-left: auto;

        @include transform(translateX(-105%));
    }

    .sm-header-nav-wrap.active nav.navigation{
        @include transform(translateX(0));
    }

    nav.navigation > .ui-menu {
        display: block;
        height: 100%;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        text-align: left;
        max-height: calc(100vh - 100px);
        box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.35);

        ul{
            background: $sm-header-item-bg-1;
        }

        li:not(:first-of-type) {
            position: relative;
            z-index: 0;
            display: block;

            > a {
                border-top: 1px solid $light-grey;
                position: static;
                display: block;

                //&.ui-state-focus{
                //    color: $sm-header-hover-color;
                //}
                //&.ui-state-active{
                //    background: $sm-header-item-bg-2;
                //}
            }
        }
        &:first-child > a {
            border-top: 0;
        }


        ul.mm-submenu.level1 > li > a{
            padding-left: 2 * $sm-header-item-padding;
        }
        ul.mm-submenu.level2 > li > a{
            padding-left: 3 * $sm-header-item-padding;
        }
        ul.mm-submenu.level3 > li > a{
            padding-left: 3 * $sm-header-item-padding;
        }

        ul.level1 > li > a{
            font-weight: 700;
        }

        li.level-top.parent:after{
            @include font-icon__pseudo('\e926');
            position: absolute;
            z-index: 9;
            top: 20px;
            right: 20px;
            font-size: 12px;
            line-height: 1;
        }

        .submenu{
            top: auto !important;
            left: auto !important;

            &:not(.level0):not(.tm-megamenu){
                display: block !important;
            }
        }
    }

    .rd-navbar-dropdown,
    .rd-navbar-megamenu {
        display: none;
    }

    .level-top.parent {
        .rd-navbar-dropdown li li > a,
        .rd-navbar-megamenu ul li li > a {
            padding-left: 48px;
        }

        &.opened {
            > .rd-navbar-dropdown,
            > .rd-navbar-megamenu {
                display: block;
            }
        }
    }

    .rd-navbar-submenu-toggle {
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        width: 40px;
        height: 47px;
        line-height: 47px;
        text-align: center;
        color: $sm-header-contrast-color;
        cursor: pointer;
        transition: $default-transition;
        @include font-icon('\e926');
        &:before{
            padding-top: 12px;
        }
    }
    .opened > .rd-navbar-submenu-toggle{
        @include font-icon('\e929');
    }

    .sm-header-panel-canvas{
        position: fixed;
        height: $sm-header-panel-height;
        left: 0;
        top: 0;
        width: 100%;
        background: $sm-header-main-color;
        z-index: 16;
        box-shadow: $default-header-shadow;
    }

    // Mega Menu
    .navigation .level-top{

        .megamenu-wrapper{
            padding: 0;
            background: transparent;
            box-shadow: none;
        }

        .ui-menu-item div[class*="col-"]{
            @include flex-basis(100%);
            padding: 0;
        }

        .widget,
        .video,
        .static-block{
            display: none;
        }

        .mm-submenu .mm-submenu{
            padding-left: 0;
        }

        .product-image {
            display: none;
        }
    }

    nav.navigation li.level-top {
        width: 100%;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        font-family: $font-extrabold;
        margin-left: 0 !important;
        position: relative;

        a {
            text-transform: capitalize;
            display: flex;
            justify-content: flex-start;
            padding-left: 25px;
            margin-bottom: 15px;
            align-items: center;
            position: relative;
            color: $dark;

            &.megamenu-submenu:after {
                @include font-icon__pseudo('');
                transform: rotate(-90deg);
                position: absolute;
                z-index: 9;
                top: auto;
                right: 20px;
                font-size: 12px;
                line-height: 1;
                transition: transform 1s ease;
            }

            @each $curr-color in $header-links-color-list {
                $i: index($header-links-color-list, $curr-color);
                $length: length($header-links-color-list);
                &:nth-child(#{$length}n-#{$i}) {
                    @include link-color-modifier-chabge($curr-color);
                    &.open a{
                        background: $curr-color;
                        color: $white;
                    }
                }
            }

            &.level-top {
                text-transform: uppercase;
                height: 85px;
                display: flex;
                justify-content: flex-start;
                padding-left: 25px;
                margin-bottom: 0;
                align-items: center;
                position: relative;
                color: $dark;
            }
        }

        @each $curr-color in $header-links-color-list {
            $i: index($header-links-color-list, $curr-color);
            $length: length($header-links-color-list);

            &:nth-child(#{$length}n-#{$i}) {
                @include link-color-modifier-chabge($curr-color);
                &.open a.level-top{
                    background: $curr-color;
                    color: $white;
                }
            }
        }
    }

    .open{
        .tm-megamenu {
            display: flex !important;
            .container {
                margin-left: 0 !important;
                .row {
                    margin-top: 7px;
                    &:first-child {
                        &:first-child > a {
                        color: $red;
                        }
                    }
                }
            }
            .product {
                display: flex !important;
                margin-left: 25px !important;
            }
        }

        a.megamenu-submenu:after  {
            transform: rotate(0deg) !important;
        }
    }
}

.sm-desktop{
    .sm-header_customer-menu-container{
        .welcome,
        .switcher.currency,
        .switcher.language{
            display: none;
        }
    }

    .isStuck-phone{
        display: none;
    }


    .custom-nav-container {
        display: flex;
        position: relative;
    }

    .page-header {
        &__panel {
            font-size: 12px;
            line-height: 14px;
        }

        .header-phone {
          @include font-icon("phone", $material-icons);
          color: $dark;
          font-size: 16px;
          width: 100%;
          text-align: right;
          font-family: $font-semibold;
          &:before {
            color: $red;
            padding-right: 7px;
            vertical-align: -3px;
            font-size: 18px;
          }

        }

        &__vertical-content {
          display: flex;
          flex-direction: column;
          position: relative;
        }

        .header-content .container {
            max-width: 1440px;
        }

        .tm-logo-container + .page-header__vertical-container {
            margin-left: auto;
            max-width: 1020px;
        }


    }


    .welcome{
        display: none;
    }

    .switcher{
        position: relative;
        padding: 0;
        margin-left: 10px;

        .toggle{
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: $bg-light;
            color: $accent;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 13px;
            line-height: 40px;
            text-align: center;
            transition: $default-transition;

            &.active,
            &:hover{
                background: $primary;
            }
        }
        .dropdown{
            .mage-dropdown-dialog{
                @include transform(translateY(-30px));
                transition: .3s all ease;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: calc(100% + 4px);
                right: 0;
                background: $white;
                box-shadow: $default-header-shadow;
                border: none;
                width: 250px;
                padding: 16px 16px 20px 20px;
                z-index: 15;

                li{
                    display: inline-block;
                    width: 100%;
                    padding: 6px 10px 5px;
                }
                a{
                    color: $default;
                    &:hover{
                        color: $primary;
                    }
                }
            }
            &.active .mage-dropdown-dialog{
                opacity: 1;
                visibility: visible;
                @include transform(translateY(0));
            }
        }
    }

    .sm-header-nav-toggle{
        display: none;
    }

    nav.navigation li.level-top {
        width: auto;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-family: $font-extrabold;
        margin-left: 0 !important;
        position: relative;
        @include desktop-large {
            min-width: 192px;
        }

        a {
            height: auto;
            display: flex;
            justify-content: normal;
            align-items: center;
            position: relative;
            padding: 0 25px;
            @include desktop {
                min-width: 150px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 33px;
                top: 16.5px;
                width: 1px;
                background: $light-grey;
                right: -1px;
            }

            &.ui-corner-all {
                height: 66px;
            }

            &.level-top {
                justify-content: center;
            }
        }

        .megamenu-wrapper {
            width: 404px;
            a {
                &:after {
                    display: none;
                }
            }

            .static-block{
                padding-right: 0;
            }

            .megamenu-submenu-column {
                padding-top: 17px;
                padding-left: 0;
                padding-right: 0;

                &:nth-child(1) {
                    margin-bottom: 0 !important;
                }

                .product-name {
                    a {
                        position: static;
                        padding: 0 16px 16px;
                        margin-bottom: 0;
                    }

                    .product-image {
                        opacity: 0;
                        position: absolute;
                        width: 202px;
                        height: 100%;
                        object-fit: cover;
                        top: 0;
                        right: 0;
                        transition: opacity .1s .2s ease-in-out;
                        z-index: 10;
                    }
                }

                .product-name:hover {
                    .product-image {
                        opacity: 1;
                        z-index: 10;
                        transition-delay: 0s;
                    }
                }
            }

            .megamenu-submenu-image {
                padding: 0;

                .static-block {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    min-height: 307px;
                }

                .category-link {
                    color: white;
                    background: $red;
                    line-height: 60px;
                    text-transform: none;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    font-family: $font-bold;
                    font-size: 16px;
                    width: 202px;
                    opacity: 1;
                    z-index: 20;
                    display: block;
                    right: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    text-decoration: underline;
                }

                img {
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    font-family: "object-fit: cover"; //this property triggers Object fit images polyfill
                }
            }

            > .container {
                padding: 0 20px;
                &.ui-menu-item {
                    padding-left: 21px !important;
                    margin-left: 0 !important;
                }
            }
        }

        @each $curr-color in $header-links-color-list {
            $i: index($header-links-color-list, $curr-color);
            $length: length($header-links-color-list);

            &:nth-child(#{$length}n-#{$i}) {
                @include link-color-modifier-chabge($curr-color);
            }
        }

        &.menu-colored-item{
            &--red{
                @include link-color-modifier-chabge($red);
            }
            &--blue{
                @include link-color-modifier-chabge($blue);
            }
            &--green{
                @include link-color-modifier-chabge($green);
            }
            &--yellow{
                @include link-color-modifier-chabge($yellow);
            }
            &--black{
                @include link-color-modifier-chabge($dark);
            }
        }

        .megamenu-submenu {
            a {
                padding-left: 25px;
            }

            .megamenu-wrapper {
                max-width: 420px;
                > .container {
                    border-top: 6px solid $red;

                    .product .product-name {
                        text-transform: capitalize;
                        a {
                            font-family: inherit;
                            color: $dark;
                            font-size: 14px;
                            line-height: 18px;
                            transition: background .25s ease-in-out, color .25s ease-in-out;
                        }
                    }
                }
            }
        }

        &:first-child .megamenu-wrapper {
            width: 606px;
        }
    }

    .sm-header-nav-wrap.isStuck {
        height: 100px;
        position: fixed;
        width: 100%;
        background: white;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        padding-left: 20px;
        padding-right: 20px;

        .isStuck-logo {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 95px;
            img {
                width: 135px;
                max-width: 9999px;
            }
        }

        .isStuck-phone {
            display: block;
            position: absolute;
            top: 8px;
            right: 0;
        }

        nav.navigation {
            width: 100%;

            ul.ui-menu {
                margin-top: 30px;
                padding-right: 0;
                position: relative;

                li:last-child a:after {
                    display: none;
                }
            }
        }

        &:before {
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
        }

        .page-header__vertical-content {
            width: 100%;
        }
    }

}
