<?php
/**
 * @var $this TemplateMonster\Megamenu\Block\Html\Topmenu
*/
    ?>
<div class="sm-header-panel-canvas"></div>

<div class="sm-header-nav-wrap">
    <?php if ($this->getNameInLayout() == 'catalog.topnav'): ?>
        <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
        <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
        <!-- RD Navbar Toggle -->
        <button class="sm-header-nav-toggle"><span></span></button>
        <!-- END RD Navbar Toggle -->
        <!-- Top Nav -->

        <div class="page-header__vertical-content">
            <div class="isStuck-phone">
                <?php echo $this->getLayout()
                    ->createBlock('Skynix\Backend\Block\Header\Phone')
                    ->setTemplate('Skynix_Backend::header/phone.phtml')
                    ->toHtml();
                ?>
            </div>
            <div class="custom-nav-container">
                <nav class="navigation <?php echo $this->_helper->isVertical() ? ' mobile-only' : ' tm-top-navigation' ?>" role="navigation" >
                    <a href="/" class="isStuck-logo">
                        <img src="<?php echo $this->getViewFileUrl('images/logo-menu.png'); ?>" alt="isStuck-logo">
                    </a>
                    <ul data-mage-init='{"megamenu":{"menus": "li > ul:not(.mm-submenu), .megamenu-wrapper", "position":{"my":"left top","at":"left bottom"}, "differentPositionMenus":".megamenu-wrapper", "differentPosition":{"my":"left top","at":"left bottom","of":".navigation"}}}'>
                        <?php /* @escapeNotVerified */ echo $_menu; ?>
                        <li>
                           <form class="custom-search minisearch" action="/catalogsearch/result">
                               <div class="custom-search__form">
                                   <input type="text" name="q" value="" placeholder="Search" class="input-text" maxlength="128">
                                   <button type="submit"></button>
                               </div>
                               <div class="custom-search__control">
                                   <button type="button" class="js-hook__search-isStuck"></button>
                               </div>
                           </form>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>

    <?php endif;
    if($this->getNameInLayout() == 'catalog.sidebarnav' && $this->_helper->isVertical()): ?>
        <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
        <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
        <!-- Sidebar Nav -->
        <nav class="navigation desktop-only" role="navigation">
            <ul data-mage-init='{"megamenu":{"menus": "li > ul:not(.mm-submenu), .megamenu-wrapper", "responsive":true, "expanded":true, "position":{"my":"left top","at":"right top"}}}'>
                <?php echo $_menu; ?>
            </ul>
        </nav>
    <?php endif; ?>


</div>
