body {
    &:not(.cms-index-index) .newsletter-container{
        width: 100%;
        order: 5;
        margin: 32px 0 0 0;
    }
    &:not(.cms-index-index, .catalog-product-view) {
        .newsletter-container {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    &.catalog-product-view {
        .newsletter-container {
            width: 100%;
            margin: 0;
            @include desktop-large {
                margin-left: -140px;
                margin-right: -140px;
                width: calc(100% + 280px);
            }
        }
    }
}

.block.newsletter{
    margin: 0;
    padding: 20px 15px 15px;

    .newsletter__header{
        color: $white;
        line-height: 1;
        margin: 20px 0 0 0;
        font-size: 36px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    #newsletter,
    input{
        margin-bottom: 0;
    }

    #newsletter-error{
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0 4px;
        color: $white;
    }

    .field.newsletter {
        padding-top: 10px;

        label {
        line-height: 1.5;
        }
    }

    .control {
        position: relative;
        display: inline-flex;
        justify-content: center;
        flex-flow: column;
        align-items: flex-start;
        width: 80%;
        @include tablets {
            flex-flow: row;
            width: 50%;
        }

        .mage-error {
            color: $white;
        }


        &-newsletter-wrap {
            position: relative;
            width: 100%;
            @include tablets{
                width: 435px;
                margin-right: 10px;
            }
        }

        input {
            height: 50px;
            color: $text-light;
            padding: 13px 18px;
            background-color: $white;
            border: none;
            border-radius: 2px;
            transition: .3s all ease;

            &::-webkit-input-placeholder {
                color: $text-light;
            }
            &::-moz-placeholder {
                color: $text-light;
            }
            &:-ms-input-placeholder {
                color: $text-light;
            }
            &:-moz-placeholder {
                color: $text-light;
            }
        }

        .actions {
            text-align: center;
            will-change: content;
            margin-top: 15px;
            width: 100%;
            @include tablets{
                margin-top: 0;
                width: initial;
            }
            button.action.primary {
               @include theme-button-style('full', $dark, $yellow);
                padding: 0;
                width: 100%;
            }
        }
    }

    .subtitle{
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        color: $white;
        text-transform: capitalize;
        display: inline-block;
        width: 100%;
        height: 23px;
        margin-bottom: 18px;
    }

    .label{
        color: $white;
        font-size: 13px;
        line-height: 21px;
        display: inline-block;
        margin-bottom: 17px;
    }
}