//
//  Related product
//  ---------------------------------------------

.block.related{
    @include order(5);
    @include make-col();
    @include flex-basis(100%);
    overflow: hidden;

    .block-actions .select{
        padding: 0;
        background: transparent;
        color: $primary;
        &:hover{
            color: $text-light;
        }
    }
}

.products-grid.products-related{
    margin: 24px 0 0;
    padding: 0;

    .product-items{
        margin: 0 -15px;
        padding: 0;
        width: calc(100% + 30px);
    }
    .product-item{
        @include flex-basis(100%);
        padding: 0;
        margin-top: 0;
    }

    .owl-item{
         padding: 0 15px;
    }

    .product-item-actions{
        padding-top: 8px;

        .actions-secondary .action{
            margin-left: 0;

            + .action{
                margin-left: 8px;
            }
        }
    }
}