.contact-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .contact-form {
    display: flex;
    flex-flow: column;
    width: 75%;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    &__field {
      height: 55px;
      width: 100%;
      label {
        color: $grey;
        transition: all 0.3s ease-in-out;
        user-select: none;
      }
      input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        color: $grey;
        outline-offset: -2px;
      }
    }
    &__submit {
      width: 22%;
      align-self: center;
      margin-top: 15px;
      cursor: pointer;
    }
    &__how-find {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      .contact-form__select {
        width: 25%;
        &:focus {
          border-color: $low-blue;
        }
      }
      label {
        user-select: none;
      }
    }
    &__notes {
      display: flex;
      margin-top: 20px;
      flex-flow: column;
      width: 100%;
      .contact-form__textarea {
        &:focus {
          border-color: $low-blue;
        }
      }
      label {
        user-select: none;
      }
    }
  }
}
