<?php
/** @var \Magento\Newsletter\Block\Subscribe $block */
$id = uniqid('newsletter-'); ?>

<div class="block newsletter">
    <form class="form subscribe"
        novalidate
        action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST"
        data-mage-init='{"validation": {"errorClass": "mage-error"}}'
        id="newsletter-validate-detail">

        <input type=hidden name="oid" id="oid" value="00D41000000e5Se">
        <input type=hidden name="retURL" id="retURL">
        <input type=hidden name="lead_source" value="WoW Newsletter Subscription Form">
        <input type=checkbox class="hidden" name="00N4100000aSvep" value="0">

        <div class="field newsletter">
            <div class="control">
                <input name="email" type="email"
                            placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                            data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>

        <div class="buttons-container">

            <button class="subscribe sf-submit-btn" type="button"><span><?php echo $block->getSubmitText() ?></span></button>

            <button class="cancel" type="button" data-role="action"><span><?php echo $block->getCancelText() ?></span></button>

        </div>
    </form>
</div>
