$nunito-font-path-outline: "../fonts/nunito" !default;

@font-face {
  font-family: "Nunito";
  src: url('#{$nunito-font-path-outline}/Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Nunito Light";
  src: url('#{$nunito-font-path-outline}/Nunito-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Nunito SemiBold";
  src: url('#{$nunito-font-path-outline}/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: "Nunito Bold";
  src: url('#{$nunito-font-path-outline}/Nunito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Nunito ExtraBold";
  src: url('#{$nunito-font-path-outline}/Nunito-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: "Nunito Black";
  src: url('#{$nunito-font-path-outline}/Nunito-Black.ttf') format('truetype');
}