<?php
/**
 * @ var $block \Skynix\Forms\Block\Form
 * @var $block \Magento\Contact\Block\ContactForm
 */

?>

<div class="form-content">

    <form class="form form-columns contact"
          id="contact-form"
          action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST"
          data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
          data-mage-init='{"validation":{}}'>

        <input type=hidden name="oid" id="oid" value="00D41000000e5Se">
        <input type=hidden name="retURL" id="retURL">
        <input type=hidden name="lead_source" value="WoW Contact Form">
        <input type=checkbox class="hidden" name="00N4100000aSvep" value="1" checked="checked">

        <fieldset class="fieldset">
            <div class="fields">
                <div class="fields-columns">
                    <div class="form-column">
                        <!---------First Name---------->
                        <div class="field name required custom-label">
                            <label class="label" for="first_name"><span><?php /* @escapeNotVerified */
                                    echo __('First Name') ?></span></label>
                            <div class="control">
                                <input name="first_name" id="first_name" title="<?php /* @escapeNotVerified */
                                echo __('First Name') ?>" class="input-text" type="text"
                                       data-validate="{required:true}"/>
                            </div>
                        </div>

                        <!---------Last Name---------->
                        <div class="field name required custom-label">
                            <label class="label" for="last_name"><span><?php /* @escapeNotVerified */
                                    echo __('Last Name') ?></span></label>
                            <div class="control">
                                <input name="last_name" id="last_name" title="<?php /* @escapeNotVerified */
                                echo __('Last Name') ?>" class="input-text" type="text"
                                       data-validate="{required:true}"/>
                            </div>
                        </div>

                        <!---------Email---------->
                        <div class="field email required custom-label">
                            <label class="label" for="email"><span><?php /* @escapeNotVerified */
                                    echo __('Email') ?></span></label>
                            <div class="control">
                                <input name="email" id="email" title="<?php /* @escapeNotVerified */
                                echo __('Email') ?>"
                                       value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>"
                                       class="input-text" type="email"
                                       data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                        </div>

                        <!---------Phone number---------->
                        <div class="field telephone required custom-label">
                            <label class="label" for="phone"><span><?php /* @escapeNotVerified */
                                    echo __('Phone Number') ?></span></label>
                            <div class="control">
                                <input name="phone" id="phone" title="<?php /* @escapeNotVerified */
                                echo __('Phone Number') ?>" value="" class="input-text" type="text"
                                       data-validate="{required:true}"/>
                            </div>
                        </div>

                        <!---------Company---------->
                        <div class="field company required custom-label">
                            <label class="label" for="company"><span><?php /* @escapeNotVerified */
                                    echo __('Company') ?></span></label>
                            <div class="control">
                                <input name="organization" id="company" title="<?php /* @escapeNotVerified */
                                echo __('Company') ?>" value="" class="input-text" type="text"
                                       data-validate="{required:true}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-column">

                        <!---------State---------->
                        <div class="field state required custom-label">
                            <label class="label" for="00N4100000YNhUd"><span><?php /* @escapeNotVerified */
                                    echo __('State/Province') ?></span></label>
                            <div class="control">
                                <input name="state" id="00N4100000YNhUd" title="<?php /* @escapeNotVerified */
                                echo __('State/Province') ?>" value="" class="input-text" type="text"
                                       data-validate="{required:true}"/>
                            </div>
                        </div>

                        <!---------Zip---------->
                        <div class="field zip required custom-label">
                            <label class="label" for="zip"><span><?php /* @escapeNotVerified */
                                    echo __('Zip') ?></span></label>
                            <div class="control">
                                <input name="zip" id="00N4100000YNhc3" title="<?php /* @escapeNotVerified */
                                echo __('Zip') ?>" maxlength="20" class="input-text" type="text"
                                       data-validate="{required:true}"/>
                            </div>
                        </div>

                        <!---------How did you find us ?---------->
                        <div class="field howFound select required custom-label">
                            <div class="control">
                                <select name="found_via" id="00N4100000eDq3R" title="<?php /* @escapeNotVerified */
                                echo __('How did you find us?') ?>">
                                    <option value="">How did you find us?</option>
                                    <option value="Bing">Bing</option>
                                    <option value="Google">Google</option>
                                </select>
                            </div>
                        </div>

                        <!---------Notes---------->
                        <div class="field comment required custom-label">
                            <div class="control">
                                <textarea name="notes" id="00N4100000BKheO" title="<?php /* @escapeNotVerified */
                                echo __('Notes') ?>" class="input-text middle-height" cols="5" rows="3"
                                          data-validate="{required:true}" placeholder="<?php /* @escapeNotVerified */
                                echo __('Notes') ?>"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php echo $block->getChildHtml('form.additional.info'); ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary sf-submit-btn">
                    <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>