.about-block {
  padding: 30px 0;
  position: relative;
  clear: both;
  @include tablets {
    background: $yellow;
    position: static;
    width: 72.6%;
    padding: 66px 20px 76px 80px;
    margin: 0 0 107px auto;
  }
  @include desktop {
    padding: 66px 80px 76px;
  }

  &:before {
    content: '';
    width: 52%;
    height: 26px;
    background: $yellow;
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 1;
    @include tablets {
      display: none
    }
  }

  &__container {
    @include tablets {
      margin-left: 40%;
      position: relative;
      max-width: 480px;
    };
  }

  &__image {
    @include coverImage(100%, 330px);
    box-shadow: $box-shadow;
    position: relative;
    @include tablets {
      @include coverImage(50%, 435px);
      position: absolute;
      left: 20px;
    }
  }

  &__header {
    font-size: 22px;
    font-family: $font-bold;
    color: $dark;
    margin: 20px 25px 13px;
    line-height: 1;
    @include tablets {
      font-family: $font-extrabold;
      font-size: 28px;
      margin: 45px 25px 25px;
    }
  }

  &__descr {
    margin: 0 25px 28px;
    font-size: 15px;
    line-height: 22px;
    font-family: $font-semibold;
    color: $dark;
  }

  &__btn {
    @include theme-button-style('full', $white, $red);
    display: block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    text-decoration: none;
    @include tablets {
      margin: 22px 0 0 25px;
    }
    &:hover {
      color: $white;
    }
  }

  &__arrow {
    display: none;
  }
}