.cms-home {
  .block-products-list {
    margin: 40px 0 13px;
    text-align: center;
    @include tablets {
      margin: 80px 0;
      text-align: left;
      padding: 0 20px;
    }
    .block-title {
      margin: 0;
      strong {
        color: $red;
        font-family: $font-black;
        font-size: 22px;
        line-height: 30px;
        @include tablets {
          display: inline;
          font-size: 35px;
          font-family: $font-black;
          margin-right: 20px;
        }
      }

      a {
        display: inline-block;
        color: $red;
        font-size: 14px;
        font-family: $font-extrabold;
        margin: 19px auto;
        position: relative;
        text-decoration: underline;
        @include tablets {
          font-size: 16px;
        }

        &:after {
          content: $arrow-right;
          font-family: 'FontAwesome';
          font-size: 10px;
          vertical-align: middle;
          transition: right .25s ease-in-out;
          position: absolute;
          display: block;
          right: -10px;
          top: 50%;
          transform: translateY(-50%);
          @include tablets {
            font-size: 15px;
            right: -15px;
          }
        }

        &:hover {
          &:after {
            right: -15px;
            @include tablets {
              right: -19px;
            }
          }
        }
      }
    }
    .block-content {
      .products-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 0 25px/2;
        justify-content: center;
        @include tablets {
          padding: 0;
          margin: 0 -10px;
        }
      ;

        .product-item + .product-item {
          border-top: none;
        }

        .product-items {
          width: 100%;
          flex-wrap: wrap;
          @include tablets-2 {
            flex-wrap: nowrap;
          }
        }

        .product-item {
          width: 50% !important;
          min-width: 130px;
          max-width: 50% !important;
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0 25px/2 27px;
          @include tablets-2 {
            width: 25% !important;
            max-width: 100% !important;
            padding: 35px 10px 0;
            overflow: hidden;
          }

        ;

          .product-item-photo {
            padding: 0;
            height: 153px;
            &:before {
              background: $red;
            }
            @include phones {
              height: 225px;
            }
            @include tablets {
              height: 325px;
            }
          }

          .product-item-details {
            text-align: center;
            .product-item-name {
              white-space: normal;
              text-align: center;
              padding: 0;
              margin: 0 auto;
              a {
                font-size: 15px;
                letter-spacing: .83px;
                line-height: 20px;
                color: $dark;
                text-align: center;
                padding: 5px 0;
                margin: 0;
                font-family: $font-bold;
                text-transform: none;
                @include tablets {
                  font-size: 19px;
                  font-family: $font-semibold;
                  padding: 10px 0;
                }
              }
            }
          }
          &:nth-child(2) .product-item-photo {
            &:before {
              background: $blue;
            }
          }
          &:nth-child(3) .product-item-photo {
            &:before {
              background: $green;
            }
          }
          &:nth-child(4) .product-item-photo {
            &:before {
              background: $yellow;
              color: $dark;
            }
            &:after {
              color: $dark;
            }
          }

          &:hover,
          &:focus {
            .product-item-details .product-item-name a {
              font-family: $font-bold;
            }
          }
        }
      }
    }
  }

}