.cms-home {
  .page-main,
  .footer,
  .newsletter-container{
    margin: 0 auto;
    position: relative;
    padding: 0;
    width: 100%;
    max-width: 1440px;

    .container {
      padding: 0;
    }

  }

  .footer {
    border-top: none;
  }

  .page-main {
    margin-top: 100px;
  }

  .container {
    @media (max-width: 768px) {
      max-width: 762px;
    }
  }

  .wow-button {
    &--red {
      @include theme-button-style('full', $white, $red);
    }

    &--yellow {
      @include theme-button-style('full', $dark, $yellow);
    }

    display: block;
    width: 150px;
    border: none;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    text-decoration: none;
    font-family: $font-semibold;
    @include tablets {
      font-size: 16px;
      height: 50px;
      line-height: 50px;
    }
  }
}