.cms-home {
  .widget.blog-posts {
    background: url("/pub/media/wysiwyg/hero.png");
    background-blend-mode: screen;
    background-size: cover;
    padding: 0 20px 10px;
    margin-top: 25px;
    clear: both;
    box-sizing: border-box;
    font-family: $font-regular;
    position: relative;
    z-index: 0;
    @include tablets {
      width: 100%;
      padding-bottom: 72px;
      display: inline-block;
    }
    @include desktop {
      margin-top: 94px;
    }
    .background-coloring{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: $dark-blue;
      opacity: 0.85;
      z-index: -1;
    }

    //Styles for slider
    .slick-arrow {
      display: none !important;
    }

    .slick-list .slick-track{
      display: flex;
      align-items: stretch;
      height: 100%;

      .post-item .item-wrapper,
      .post-item .post-content-wrapper{
        height: 100%;
        width: 100%;
      }
    }

    .post-items.list {
      @include tablets {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        max-width: 1350px;
        margin: 0 auto;
      }

      .post-title {
        padding-bottom: 20px;
        letter-spacing: 1px;
        @include tablets {
          padding-bottom: 10px;
        }
      }
    }

    .block-title {
      color: white;
      font-size: 22px;
      text-transform: uppercase;
      display: inline-block;
      margin: 42px 0 10px 0;
      width: 100%;
      font-family: $font-extrabold;
      padding-left: 5px;
      @include tablets {
        max-width: 1350px;
        margin: 73px auto 37px;
        display: block;
        font-size: 28px;
        padding-left: 0;
      }

      strong{
        width: 100%;
        display: block;
        max-width: 1350px;
        margin: 0 auto;
        @include tablets {
          margin-right: 20px;
          display: inline;
        }
      }

      a {
        display: inline-block;
        color: $white;
        font-size: 14px;
        font-family: $font-bold;
        margin: 19px auto;
        position: relative;
        text-decoration: underline;
        text-transform: capitalize;
        @include tablets {
          font-size: 16px;
        }

        &:after {
          content: $arrow-right;
          font-family: 'FontAwesome';
          font-size: 10px;
          vertical-align: middle;
          transition: right .25s ease-in-out;
          position: absolute;
          display: block;
          right: -10px;
          top: 50%;
          transform: translateY(-50%);
          @include tablets {
            font-size: 15px;
            right: -15px;
          }
        }

        &:hover {
          &:after {
            right: -15px;
            @include tablets {
              right: -19px;
            }
          }
        }
      }
    }

    .post-item {
      width: 85.53%;
      float: left;
      padding: 0 5px;
      box-sizing: border-box;
      @include tablets {
        padding: 0;
        width: 24.074%;
        &:first-of-type {
          width: 49.407%
        }
      }

      .item-wrapper {
        margin: 0 auto;
        width: max-content;
        max-width: 100%;
        position: relative;
        @include tablets {
          width: auto;
          background: white;
          height: 100%;
        }
        .post-image{
          height: 204px;
          max-height: 204px;
          a {
            width: 100%;
            height: 100%;
          };
          @include tablets{
            height: auto;
          }
        }
      }



      //&--article {

      .post-short-content {
        height: 0;
        overflow: hidden;
        > p {
          display: none;
        }
      }

      .post-created {
        display: none;
      }

      &:first-child {
        @include tablets {
          .post-image{
            height: 187px;
          }
        }
      }

      &:not(:first-child) {
        @include tablets {
          min-height: 281px !important;
          margin-left: 1.2225%;
          img {
            display: none;
          }
          .post-content-wrapper {
            height: 100%;
            min-height: 281px;
            margin: 0 auto;
            position: relative;
          }

          .post-title h3 a {
            font-size: 22px;
          }
          .post-short-content {
            height: auto;
            font-family: $font-semibold;
            @include theme-p;
            > p {
              display: inline; // this line is for IE since it does not support "display: initial;"
              display: initial;
            }
          }
          .post-created {
            display: block;
            .create-date {
              &:before {
                display: none;
              }
              time {
                color: $middle-grey;
                margin-bottom: 10px;
                letter-spacing: .5px;
              }
            }
          }
        }
      }

      img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0;
        -o-object-fit: cover;
        object-fit: cover;
        font-family: 'object-fit: cover;'; //triggers Object-fit polyfill when using IE
      }

      .post-title h3 a {
        color: $red;
        font-size: 18px;
        margin: 0;
        margin-bottom: 10px;
        font-family: $font-extrabold;
        text-transform: capitalize;

        @include tablets {
          font-size: 24px;
        }
      }

      .post-link {
        display: block;
        color: $blue;
        font-size: 14px;
        text-decoration: underline;
        letter-spacing: .7px;
        transition: .2s;
        font-family: $font-bold;
        background: none;
        position: absolute;
        bottom: 15px;
        left: 20px;

        @include tablets {
          font-size: 16px;
        }

        &:hover {
          color: lighten($blue, 15%);
        }
      }

      .post-content-wrapper {
        background: white;
        padding: 16px 22px 20px 16px;
        box-sizing: border-box;
      }

      &-text {
        display: block;
        white-space: normal;
        color: $dark;
        font-size: 18px;
        font-family: $font-regular;
        @include tablets {
          font-size: 20px;
        }
      }
    }
  }
}