.hero-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  @include tablets-2 {margin-top: -150px;}
  @include laptop {margin-top: -50px;}
  @include desktop {margin-top: -150px;}
  @include desktop-large {padding-right: 20px;}

  img {
    float: right;
    z-index: 0;
    width: auto;
    min-width: 73.85%;
    height: 400px;
    max-width: 9999px;
    object-fit: cover;
    font-family: "object-fit: cover"; //this property triggers Object fit images polyfill
    @include phones {
      max-width: 100%;
    }
    @include tablets {
      height: auto;
      max-height: 567px;
      min-width: calc(100% - 330px);
    }
  }

  &__content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 0;
    text-transform: uppercase;
    margin: auto 0;
    padding: 15px 0;
    width: 35.6%;
    min-width: 265px;
    max-width: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @include tablets {
      padding: 45px 0;
      min-width: 375px;
    }
    @include laptop {
      padding-left: 47px;
    }

    &-text {
      left: 25px;
      top: 15px;
      background: white;
      padding: 9px 22px 15px 22px;
      box-sizing: border-box;
      line-height: 30px;
      margin-right: -54px;
      width: calc(100% + 54px);
      font-weight: bold;
      font-family: $font-black;
      color: $dark;
      z-index: 101;
      position: relative;
      @include tablets {
        width: calc(100% + 47px);
        padding: 30px;
      }

      &:before,
      &:after {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        width: 100%;
        box-shadow: $box-shadow;
      }

      &:after {
        height: 100%;
        background: $white;
        left: 0;
        top: 0;
      }

      &:before {
        background: $red;
        height: calc(100% + 30px);
        left: -25px;
        top: -15px;
        @include tablets {
          height: calc(100% + 90px);
          left: -45px;
          top: -45px;
        }
      }
    }
  }

  &__text {
    text-align: left;
    text-transform: uppercase;
    font-size: 22px;
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    font-family: $font-black;
    letter-spacing: 0;
    line-height: 1.25;

    @include tablets {
      font-size: 28px;
      line-height: 33px;
    }
  }

  &__link {
    @include theme-button-style('full', $dark, $yellow);
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    height: auto;
    text-transform: capitalize;
    font-family: $font-extrabold;

    @include tablets {
      margin-top: 12px;
    }
  }
}

.next-section-scroller {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background: $blue;
  border-radius: 50%;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: .2s;
  z-index: 10;

  &--fixed{
    position: fixed;
    bottom: 10px;
    .next-section-scroller{
      &__arrow{
        transform: rotate(137deg);
        bottom: auto;
        top: 14px;

        @include tablets {
          top: 20px;
        }
        &:nth-of-type(2) {
          bottom: auto;
          top: 8px;
          @include tablets {
            top: 31px;
          }
        }
      }

      &__icon{
        bottom: 20px;
        top: auto;
      }
    }

  }

  @include tablets {
    height: 97px;
    width: 97px;
  }

  &:hover {
    background: darken($blue, 15%);
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    width: 12px;
    height: 19px;
    margin: auto;
    border: 1px solid $white;
    border-radius: 50px;
    box-sizing: border-box;

    @include tablets {
      top: 21px;
      height: 32px;
      width: 21px;
      border-width: 2px;
    }

    &:before {
      position: absolute;
      top: 4px;
      left: 50%;
      content: '';
      width: 2px;
      height: 2px;
      margin-left: -1px;
      background-color: $white;
      border-radius: 100%;
      box-sizing: border-box;
      @include tablets {
        width: 4px;
        height: 4px;
        margin-left: -2px;
        top: 6px;
      }
    }
  }

  &__arrow {
    position: absolute;
    bottom: 19px;
    left: 50%;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: down-arrows 2s infinite;
    animation: down-arrows 2s infinite;
    opacity: 0;
    box-sizing: border-box;

    @include tablets {
      width: 7px;
      height: 7px;
      margin-left: -3.5px;
      bottom: 31px;
    }

    &:nth-of-type(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      bottom: 13px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s;

      @include tablets {
        bottom: 20px;
      }
    }
  }

  @-webkit-keyframes down-arrows {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes down-arrows {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

