.newsletter {
  width: 100%;
  background: $red;
  color: $white;
  padding-bottom: 20px;
  text-align: center;


  &__header {
    font-family: $font-extrabold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 9px;
    @include tablets {
      font-size: 31px;
      margin-bottom: 23px;
    }
  }
  &__subheader {
    font-family: $font-light;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 16px;
    @include tablets {
      font-size: 16px;
      margin-bottom: 34px;
    }
  }

  &__form {
    @include tablets {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
      width: 100%;
      height: 45px;
      border-radius: 2px;
      border: none;
      background: $white;
      color: $dark;
      font-size: 15px;
      outline-color: $blue;
      padding: 0 15px;
      @include tablets {
        height: 52px;
        width: 435px;
      }
    }
    button {
      text-align: center;
      display: block;
      margin-top: 10px;
      width: 100%;
      border-radius: 2px;
      border: none;
      background: $yellow;
      color: $dark;
      font-family: $font-extrabold;
      font-size: 14px;
      height: 45px;
      line-height: 45px;
      transition: background .3s ease-in-out;
      cursor: pointer;
      &:focus,
      &:hover {
        background: darken($yellow, 10%);
      }
      @include tablets {
        height: 52px;
        line-height: 52px;
        width: 162px;
        margin: 0 0 0 11px;
      }
    }
  }
}