.banner {
  &__content {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -28px;
    padding: 0 0 28px 25px;
    min-width: 240px;
    max-width: 260px;
    box-sizing: border-box;

    @include tablets {
      left: -8%;
    }

    &--red {
      background: $red;

      .banner__title, .banner__link {
        color: $red;
        border-bottom-color: $red;
      }
    }

    &--green {
      background: $green;

      .banner__title, .banner__link {
        color: $green;
        border-bottom-color: $green;
      }
    }

    &--blue {
      background: $blue;

      .banner__title, .banner__link {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    &-text {
      min-width: 240px;
      max-width: 260px;
      box-sizing: border-box;
      background: white;
      padding: 5px 63px 22px 22px;
      margin-top: -37px;
      margin-right: -27px;
    }
  }

  &__text {
    display: block;
    line-height: 20px;
    color: $dark;
    font-family: $font-regular;
    font-size: 15px;
    @include tablets {
      font-family: $font-semibold;
      letter-spacing: .5px;
      font-size: 15.5px;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 8px;
    font-family: $font-bold;
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: 27px;
    @include tablets {
      font-size: 26px;
      padding-top: 25px;
      text-transform: capitalize;
      margin-bottom: 20px;
      font-family: $font-extrabold;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 10px;
    font-family: $font-bold;
    border-bottom: 1px solid;
    line-height: 1.1;
    font-size: 15px;
    @include tablets {
      margin-top: 18px;
      font-size: 17px;
    }
  }

  &-item {
    max-height: 420px;
    height: auto;
    padding-bottom: 28px;

    @include tablets {
      width: 32.12%;
      float: left;
      margin-right: 1.8%;
      padding-left: 2.3%;
      box-sizing: border-box;
      &:last-of-type {
        margin-right: 0;
      }
    }

    @include desktop {
      width: 32.13%;
    }

    img {
      margin: 0 auto;
      max-width: 100%;
      height: 420px;
      width: auto;

      @include tablets {
        height: 340px;
      }
      @include desktop {
        height: 391px;
      }
    }

    &-content {
      position: relative;
    }
  }

  &-items {
    padding: 0;
    margin-bottom: 60px;

    @include tablets {
      margin-top: 20px;
      margin-bottom: 65px;
    }

    @include desktop {
      max-width: 1350px;
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 57px;
      margin-bottom: 125px;
    }

    &-wrapper {
      @include tablets {
        display: flex;
      }

      .banner-item {
        max-height: unset;
        overflow: hidden;
      }
    }
  }

}

//Styles for slider
.block-banners .slick-arrow {
  display: none !important;
}

