.view-block {
  clear: both;
  @include tablets {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
  }
  &-item {
    width: 100%;
    height: 412px;
    position: relative;
    max-height: 412px;
    overflow: hidden;
    display: block;
    align-items: center;
    margin-bottom: 25px;
    @include tablets {
      width: calc(50% - 24px);
    }

    &__img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {
        position: absolute;
        height: 100%;
        width: 100%;
        filter: contrast(130%);
        object-fit: cover;
        font-family: "object-fit: cover;";
      }
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .45;
      }
    }
    &__content {
      padding: 0 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include tablets {
        padding: 0 50px;
      }

      header {
        color: $white;
        font-size: 20px;
        margin-bottom: 13px;
        font-family: $font-extrabold;
        @include tablets {
          font-size: 30px;
          line-height: 41px;
        }
      }

      p {
        color: $white;
        margin: 0 0 10px;
        font-size: 15px;
        line-height: 20px;
        font-family: $font-light;
        @include tablets {
          font-size: 16px;
          line-height: 21px;
          letter-spacing: .2px;
          word-spacing: 1px;
          font-family: $font-regular;
          margin-bottom: 22px;
        }
      }
    }

  }
}