/*
* TM_Newsletter-popup
*/

// Main Styles

.newsletter-popup.modal-popup {

    // Modal
    .modal-inner-wrap {
        margin-top: 7%;
        padding: 0;
        margin-right: 15vw;
        margin-left: 15vw;
        background: $red;
        color: $white;

        @media screen and (max-width: $screen-sm-min - 1) {
            width: auto !important;
        }
        @media (min-width: $screen-sm-min){
            margin-top: 12%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .actions {
        display: none;
    }

    // Header
    header.modal-header {
        padding: 25px 10px 0;

        @media (min-width: $screen-sm-min){
            padding-top: 45px;
        }
        user-select: none;
        .action-close {
            padding: 10px;
            top: 0;
            right: 0;
            &:before {
                display: block;
                font-size: 22px;
                line-height: 1;
                transition: $default-transition;
            }
            &:hover:before {
                color: $accent;
            }
            @media (min-width: $screen-lg-min){
                padding: 15px 17px;
            }
        }

        h1.modal-title {
            color: $white;

            line-height: 16px;
            font-weight: 700;
            border-bottom: none;
            padding: 20px 0 0;
            margin-bottom: 0;
            text-align: center;
            text-transform: uppercase;
            @include tablets {
                font-size: 36px;
                padding-top: 0;
            }

        }
    }

    // Content
    .modal-content {
        padding: 5px 0px 10px;
        text-align: center;
        text-transform: capitalize;
        position: relative;
        @include tablets {
            padding: 5px 20px 10px;
        }


        .content-text{
            font-size: 13px;
            line-height: 25px;
            font-weight: 700;
            font-family: "Nunito", sans-serif;
            user-select: none;
            display: block;
            @include tablets {
                font-size: 18px;
            }

            strong{
                display: inline-block;
                width: 100%;
                font-size: 16px;
                line-height: 20px;

                @media (min-width: $screen-sm-min) {
                    font-size: 60px;
                    line-height: 54px;
                    margin-bottom: 18px;
                }
            }
            p{
                margin-bottom: 0;
            }

            div {
                margin: 0;
            }
        }

        .block.newsletter {
            margin: 0;
            padding: 5px 10px 10px;
            @include tablets {
                padding: 20px 15px 10px;
            }
            .field{
                padding-top: 14px;
                padding-bottom: 0;

                input {
                    color: $default;
                    border: none;
                    font-size: 13px;
                    line-height: 16px;
                    padding: 12px 8px;
                    height: 40px;

                    @media (min-width: $screen-lg-min) {
                        padding-left: 40px;
                    }
                }

                div.mage-error{
                    position: relative;
                    color: $white;
                    font-size: 8px;
                    text-align: left;

                    @media (min-width: $screen-sm-min){
                        font-size: 10px;
                    }
                }

                .control{
                    width: 100%;
                    display: block;
                    @include tablets {
                        width: 50%;
                        margin: 0 auto;
                    }
                    @media (min-width: $screen-lg-min){
                        position: relative;
                    }

                }
            }
        }
    }

    // Footer
    footer.modal-footer {
        padding: 0;

        .modal-social {
            padding: 30px 10px 14px;
            @include make-flex;
            @include justify-content(center);
            @include align-items(center);
            @include flex-wrap(wrap);

            @media(min-width: $screen-sm-min){
                padding: 40px 10px 43px;
            }

            a {
                @include button-block;
                margin-bottom: 5px;
                padding: 0;
                font-size: 14px;
                line-height: 30px;
                text-align: center;
                width: 30px;
                border-radius: 30px;
                &:hover{
                    color: $primary;
                    background: $white;
                }

                @media(min-width: $screen-lg-min){
                    padding: 0;
                }
                @media(min-width: $screen-xs-min){
                    font-size: 15px;
                    line-height: 40px;
                    width: 40px;
                    border-radius: 40px;
                }

                &.fa-google:before{
                    content: '\f0d5';
                }
                &.fa-youtube:before{
                    content: '\f16a';
                }

                + a{
                    margin-left: 10px;
                }
            }

            :link,
            :hover{
                text-decoration: none;
            }
        }
    }

    // Buttons block
    .buttons-container {
        padding: 0;
        z-index: 9;
        margin-top: 10px;


        button {
            @include theme-button-style('full', $grey, $yellow);
            width: 100%;
            height: 40px;
            line-height: 40px;
            @include tablets{
                width: 50%;
            }
            &:not(.subscribe){
                display: none;
            }
        }
    }
}