<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>

<?php
$themeHelper = $this->helper('Magento\Theme\Helper\Theme');
if($themeHelper->isModuleOutputEnabled('TemplateMonster_ThemeOptions')):
    $themeOptionsHelper = $this->helper('TemplateMonster\ThemeOptions\Helper\Data');
    $themeOptions = true;
else:
    $themeOptions = false;
endif;
?>

<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>

	<!-- Grid mode of list -->
    <?php if ($block->getMode() == 'grid'): ?>
	    <?php
	        $viewMode = 'grid';
        	$image = 'category_page_grid';
	        $showDescription = $themeOptions ? $themeOptionsHelper->getCategoryShowDesc($viewMode) : false;
	        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
	    ?>

	    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
	        <?php $iterator = 1; ?>
	        <ol class="products list items product-items">
	            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
	            <?php foreach ($_productCollection as $_product): ?>
	                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
	                <div class="product-item-info" data-container="product-grid">
	                    <?php
	                    $productImage = $block->getImage($_product, $image);
	                    if ($pos != null) {
	                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
	                            . 'top:' . $productImage->getHeight() . 'px;"';
	                    }
	                    ?>
	                    <?php // Product Image ?>
	                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
	                        <?php echo $productImage->toHtml(); ?>
	                    </a>
	                    <div class="product details product-item-details">
	                        <div class="product-item_wrap-1">
	                            <?php
	                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
	                            ?>
	                            <strong class="product name product-item-name">
	                                <a class="product-item-link"
	                                   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
	                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
	                                </a>
	                            </strong>
	                        </div>
	                        
	                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>

	                        <?php if ($showDescription):?>
	                            <div class="product description product-item-description">
	                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
	                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
	                                   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
	                            </div>
	                        <?php endif; ?>

	                        <?php echo $block->getProductDetailsHtml($_product); ?>

	                    </div>
	                </div>
	                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
	            <?php endforeach; ?>
	        </ol>
	    </div>

	<!-- List mode of list -->
    <?php else: ?>
	    <?php
	        $viewMode = 'list';
        	$image = 'category_page_list';
	        $showDescription = $themeOptions ? $themeOptionsHelper->getCategoryShowDesc($viewMode) : false;
	        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
	    ?>

	    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
	        <?php $iterator = 1; ?>
	        <ol class="products list items product-items">
	            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
	            <?php foreach ($_productCollection as $_product): ?>
	                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
	                <div class="product-item-info" data-container="product-grid">
	                    <?php
	                    $productImage = $block->getImage($_product, $image);
	                    if ($pos != null) {
	                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
	                            . 'top:' . $productImage->getHeight() . 'px;"';
	                    }
	                    ?>
	                    <?php // Product Image ?>
	                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
	                        <?php echo $productImage->toHtml(); ?>
	                    </a>
	                    <div class="product details product-item-details">
	                        <?php
	                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
	                        ?>
	                        <strong class="product name product-item-name">
	                            <a class="product-item-link"
	                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
	                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
	                            </a>
	                        </strong>

	                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>

	                        <?php if ($showDescription):?>
	                            <div class="product description product-item-description">
	                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
	                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
	                                   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
	                            </div>
	                        <?php endif; ?>

	                        <?php echo $block->getProductDetailsHtml($_product); ?>

	                    </div>
	                </div>
	                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
	            <?php endforeach; ?>
	        </ol>
	    </div>
    <?php endif; ?>

    <div class="tollbar-bottom">
        <?php echo $block->getToolbarHtml() ?>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
