.tm-switch-image-container {
  position: relative;
  overflow: hidden; }
  .tm-switch-image-container .replaced {
    display: none;
    position: absolute;
    top: 0;
    left: 0; }

.listing-gallery .fotorama__arr,
.listing-gallery .fotorama__thumb__arr {
  background: none; }
.listing-gallery .fotorama__arr {
  width: 40px;
  top: 50%;
  bottom: auto; }
  .listing-gallery .fotorama__arr .fotorama__arr__arr {
    background-image: none;
    background: rgba(0, 0, 0, 0.05);
    width: 40px;
    height: 40px; }
.listing-gallery .fotorama__arr--prev .fotorama__arr__arr:before,
.listing-gallery .fotorama__arr--next .fotorama__arr__arr:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 22px;
  color: #5a5e62; }
.listing-gallery .fotorama__arr--prev .fotorama__arr__arr:before {
  content: "\f104"; }
.listing-gallery .fotorama__arr--next .fotorama__arr__arr:before {
  content: '\f105'; }

/*# sourceMappingURL=module.css.map */
