// Main styles

.post-page {
    clear: both;
    font-family: $font;
    width: 100%;

    // Post text
    .post-text {
        margin-bottom: 25px;
        @include theme-p;
    }

    // Post data
    .post-data {
        margin-bottom: 50px;

        .create-date,
        .post-author,
        .post-comments {
            display: inline-block;
            margin-right: 20px;

            span, a {
                display: inline-block;
            }
            a {
                color: $post-data-color;
                text-decoration: none;
                &:hover {
                    color: $color;
                }
            }
            a span:before,
            &:before {
                font-size: 18px;
                line-height: 18px;
                padding-right: 4px;
                color: $color;
                vertical-align: sub;
            }
        }
        .create-date{
            margin-right: auto;
        }
        .create-date time {
            display: inline-block;
        }
        .post-author {
            font-weight: 700;
        }
        .post-comments {
            @include font-icon('\ea7b');
        }

        @media (max-width: 480px) {
            overflow: hidden;

            .create-date,
            .post-author,
            .post-comments{
                display: block;
                margin-bottom: 3px;
            }
        }

        .social-sharing{
            margin-top: 0;
        }
    }

    .post-relatedproducts{

        .block.related {
            float: none;

            .owl-carousel {
                .product-item {
                    width: 100%;
                }
            }

             .product-item{
                .product-item-info {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    box-shadow: none;
                    border: none;
                }

                .product-item-photo {
                    display: block;
                    text-align: center;
                }
            }

            .product-items:not(.owl-carousel) .product-item{
                width: 33.33%;
            }
        }
    }

    .block.related{
        padding-top: 16px;

        .block-title{
            margin-bottom: 0;
            padding-top: 4px;
        }

        .owl-nav{
            top: -29px;
        }
    }
    .products-grid.products-related{
        margin-top: 8px;
    }
}
