// Main styles
$post-color-list: $low-blue $pink $orange $blue $red $green;

.block-posts-list {
    clear: both;
    font-family: $font;

    .post-items {
        display: flex;
        -webkit-display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -15px;

        .post-item {
            @include flex-basis(100%);
            list-style: none;
            padding: 0 15px;
            box-sizing: border-box;

            @include tablets {
                @include flex-basis(50%);
            }
            @include laptop {
                @include flex-basis(33.3333%);
            }

            .item-wrapper {
                padding-bottom: 43px;
            }
        }
        // Image
        .post-image {
            margin-bottom: 21px;
            width: 100%;
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablets {
                height: 280px;
            }
            @include tablets-2 {
                height: 200px;
            }
            @include desktop-large {
                height: 280px;
            }

            a{
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    font-family: "object-fit: cover"; //this property triggers Object fit images polyfill
                }
            };


        }

        // Title
        .post-title {
            margin-bottom: 6px;

            h3 {
                font-family: $font;
                font-size: $title-size;
                line-height: $title-lh;
                font-weight: 500;
                margin: 0;
                @include theme-h2;

                a {
                    color: $title-color;
                    text-decoration: none;

                    &:hover {
                        color: $title-hover-color;
                    }
                }
            }
        }

        // Short Content
        .post-short-content {
            font-size: inherit;
            line-height: inherit;
            margin-bottom: 26px;
        }

        // Post link
        .post-link {
            color: $link-color;
            font-weight: 700;
            text-transform: none;

            &:hover {
                color: $low-blue;
            }
        }

        // Post data
        .post-data {
            @include make-flex;
            @include justify-content(space-between);

            .create-date,
            .post-author,
            .post-comments {
                a {
                    text-decoration: none;
                    &:hover {
                        color: $low-blue;
                    }
                }
                a span:before,
                &:before {
                    font-size: 18px;
                    padding-right: 4px;
                    color: $color;
                    vertical-align: middle;
                }
            }
            .create-date {
                @include order(2);
                margin-right: auto;

                time {
                    display: inline-block;
                }
            }
            .post-author {
                @include order(1);
                font-weight: 700;
                .label{
                    margin-right: 5px;
                }
            }
            .post-comments {
                @include order(3);
                @include flex-basis(50px);
                @include font-icon('\ea7b');
                text-align: right;
            }

            @media (max-width: 1200px) {
                display: block;
                overflow: hidden;

                .create-date,
                .post-author {
                    display: block;
                }

                .post-comments {
                    float: right;
                }
            }
        }

        @each $curr-color in $post-color-list {
            $i: index($post-color-list, $curr-color);
            $length: length($post-color-list);

            .post-item:nth-child(#{$length}n-#{$i}) {
                .post-title h3 a:hover {
                    color: $curr-color;
                }
            }
        }
    }
}

.posts-list-wrapper{

    /*Toolbar
    **********************************************/
    .toolbar-top {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($light-grey, .4);

        .toolbar {
            margin-bottom: 0;
            text-align: left;
        }
        .sorter {
            float: left;
            margin-bottom: 5px;
        }
        .limiter {
            display: block;
            margin-bottom: 5px;
            text-align: right;
        }
    }
    .toolbar-bottom {
        .toolbar {
            display: block;
            margin-bottom: 0;
        }
        .sorter,
        .limiter {
            display: none !important;
            visibility: hidden;
        }
    }

    .toolbar-bottom,
    .toolbar-top {
        .pages {
            text-align: left;
            display: flex;
            order: 5;
            width: 100%;
            justify-content: flex-end;
            padding-top: 20px;
            margin-top: 10px;
            border-top: 1px solid rgba($light-grey, .4);
            @include tablets {
                justify-content: flex-start;
            }

            .pages-item-next {
                position: relative;
            }
        }
    }
}

.tm-blog-index-index {
    .page-main {
        margin-top: 70px;
        @include tablets {
            margin-top: 0;
        }
    }
    .posts-list-wrapper .toolbar-top .toolbar-posts .select2-container {
        min-width: 100%;
        @include tablets {
            min-width: 102px;
        }
    }
}