// Local vars

$grid-gutter: 15px;

// Main styles

.block.related-posts {
    .block-title {
        margin-bottom: 30px;
    }

    .related-post-list {
        padding: 0;
        overflow: hidden;
        margin: -1px 0 0 0;
        list-style: none;

        li {
            box-sizing: border-box;
            margin-bottom: 0;

            h5.post-title{
                margin: 0;
                font-weight: normal;
                a {
                    display: block;
                    text-decoration: none;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                    transition: .2s;
                    font-size: 14px;
                    line-height: $post-title-height;
                    color: $post-title-color;
                    border-top: solid 1px $post-title-border;

                    &:hover {
                        background: $post-title-color-hover;
                        padding-left: 15px;
                    }
                }
            }
        }

        @media (min-width: 767px) {
            display: flex;
            -webkit-display: flex;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            margin-left: -$grid-gutter;

            li {
                padding-left: $grid-gutter;
                flex-basis: 50%;
                -webkit-flex-basis: 50%;
            }
        }

        @media (min-width: 1200px) {
            li {
                flex-basis: 33.333%;
                -webkit-flex-basis: 33.333%;

                h5.post-title a {
                    font-size: $post-title-size;
                }
            }
        }
    }

    .related-post-grid {
        padding: 0;
        margin: 0 -15px;

        &:not(.owl-carousel){
            @include make-flex;

            .inner{
                width: 33.33333%;
            }
        }

        .inner {
            padding: 0 15px;
        }

        .post-image {
            display: block;
            margin-bottom: 10px;

            img{
                vertical-align: top;
            }
        }

        h5.post-title{
            margin: 0;
            font-weight:normal;
            line-height: normal;
            a{
                font-size: 14px;
                color: $post-title-color;
            }
        }

        @media (min-width: 1200px) {
            li {
                flex-basis: 33.333%;
                -webkit-flex-basis: 33.333%;

                h5.post-title a {
                    font-size: $post-title-size;
                }
            }
        }
    }
}