@import '_variables.scss';
@import '_blog-listing.scss';
@import '_blog-widget.scss';
@import '_blog-post.scss';
@import '_blog-comments.scss';
@import '_blog-related-posts.scss';
@import '_blog-sidebar.scss';


.posts-list-wrapper .toolbar-top .toolbar-posts{
    @include make-flex;
    @include justify-content(space-between);

    .select2-container,
    select.limiter-options{
        @include tablets {
            max-width: 180px;
        }
    }

    .limiter{
        display: -ms-flexbox!important;
        display: -webkit-flex!important;
        display: flex!important;
        @include justify-content(space-between);
        margin-bottom: 0;

        @media (max-width: $screen-md-min - 1) {
            @include flex-basis(145px);
        }
        @media (max-width: $screen-sm-min - 1){
            @include flex-basis(100%);
        }

        .label{
            font-weight: 400;
            color: $text-light;

            @media (max-width: $screen-sm-min - 1){
                @include flex-basis(25%);
                margin: 0;
                text-align: left;
            }
        }
    }


    .sorter{
        @include make-flex;
        @include justify-content(space-between);
        margin-bottom: 0;

        @media (min-width: $screen-sm-min){
            @include order(1);
        }

        .sorter-label{
            margin-right: 0;
            padding-right: $indent-small;
            font-size: 14px;
            font-weight: 400;
            color: $text-light;
        }
    }

    @media (max-width: $screen-sm-min - 1){
        .limiter,
        .sorter{
            @include justify-content(flex-start);
        }
    }

    .control{
        text-align: center;
    }
}

.block-posts-list .post-items{
    .post-title a{
        font-size: 16px;
        line-height: 1;
        @include tablets-2 {
            font-size: 22px;
            line-height: 25px;
        }
        &:hover{
            color: $low-blue;
        }
    }
    a.post-link{
        color: $grey;
        text-transform: capitalize;
        &:hover{
            color: $low-blue;
        }
    }
    .post-data{
        @include make-flex;
        @include justify-content(space-between);
        time{
            display: inline-block;
        }

        .post-comments a{
            color: $grey;
            &:hover{
                color: $low-blue;
            }
        }
    }
}

.post-page{
    .post-text{
        img{
            margin-bottom: 1rem;
        }
    }
    .post-data{
        @include make-flex;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        time{
            display: inline-block;
        }

        .post-comments a{
            color: $default;
            &:hover{
                color: $primary;
            }
        }
    }

    .post-comments-block{
        .post-comments-title{
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
            color: $middle-grey;
        }

        .comment-add .post-comments-title{
            font-size: 18px;
            line-height: 22px;
            color: $blue;
        }

        .post-comment{
            background-color: transparent;
            border: 1px solid $border-color;
            border-radius: 4px;

            @media (min-width: $screen-sm-min){
                padding: 24px 30px;
            }
        }
        .comment-info{
            @include make-flex;
            @include justify-content(flex-start);
            border-bottom: none;

            div{
                float: none;
            }
            h3{
                margin: 0 2em 0 0;
                @include order(1);
            }
            span{
                line-height: 2rem;
            }
            .post-data{
                @include order(2);
            }
        }
    }
}