/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 *  Featured Product by TemplateMonster 2016
 *  v1.0.0
 */
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 *  Featured Product by TemplateMonster 2016
 *  v1.0.0
 */
/* Main Styles */
.block.widget.featured .products-grid .product-items .product-item-photo {
  display: block;
  text-align: center; }
.block.widget.featured .block-content .products-grid .product-items {
  margin: 0 -15px; }
  .block.widget.featured .block-content .products-grid .product-items .product-item {
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px; }

.block.featured {
  overflow: hidden; }
  .block.featured .block-content .products-grid.is-carousel {
    margin: 0 -15px; }
  .block.featured .block-content .products-grid .product-items.owl-carousel {
    margin: 0; }
    .block.featured .block-content .products-grid .product-items.owl-carousel .owl-wrapper-outer {
      padding: 10px 0 0; }
  .block.featured[role="tablist"] .block-title {
    display: inline-block;
    width: auto;
    margin-right: 15px; }
    .block.featured[role="tablist"] .block-title strong {
      margin-bottom: 0;
      cursor: pointer; }
    .block.featured[role="tablist"] .block-title:before {
      display: none; }
    .block.featured[role="tablist"] .block-title.active strong {
      color: #ccc; }
  .block.featured[role="tablist"] .block-content {
    float: right;
    margin-left: -100%;
    padding: 3rem 0 0;
    width: 100%; }
  @media (max-width: 767px) {
    .block.featured[role="tablist"] .block-title {
      display: block;
      width: 100%; }
    .block.featured[role="tablist"] .block-content {
      float: none;
      margin-left: 0; } }
  .block.featured [role="tablist"] {
    text-align: right; }
    .block.featured [role="tablist"] .category-title {
      display: inline-block;
      width: auto;
      padding: 0;
      margin: 0 0 20px; }
      .block.featured [role="tablist"] .category-title strong {
        margin-bottom: 0;
        padding-left: 15px;
        cursor: pointer;
        font-size: 18px;
        font-weight: normal; }
      .block.featured [role="tablist"] .category-title:before {
        display: none; }
      .block.featured [role="tablist"] .category-title.active strong {
        color: #ccc; }
    .block.featured [role="tablist"] .category-content {
      text-align: left;
      float: right;
      margin-left: -100%;
      padding: 70px 0 0;
      width: 100%; }
    @media (max-width: 767px) {
      .block.featured [role="tablist"] .category-title {
        display: block;
        width: 100%; }
      .block.featured [role="tablist"] .category-content {
        float: none;
        margin-left: 0;
        padding-top: 20px; } }

/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 *  Featured Product by TemplateMonster 2016
 *  v1.0.0
 */
/* Main Styles */
.block.widget.featured:not(.sidebar-featured) .products-list .product-items .product-label {
  left: 10px;
  right: auto; }
.block.widget.featured:not(.sidebar-featured) .custom-columns .products-list .product-item {
  float: left; }
.block.widget .products-list .product-item-info {
  display: block; }
.block.widget .products-list .product-item {
  display: block; }
.block.widget .products-list .product-item-details {
  display: block; }

.block.featured:not(.sidebar-featured) .block-content .products-list .owl-carousel .product-item-info .product-item-photo,
.block.featured:not(.sidebar-featured) .custom-columns .products-list .product-items .product-item-info .product-item-photo {
  float: left;
  width: 33%; }

/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */
/* 
 *  Featured Product by TemplateMonster 2016
 *  v1.0.0
 */
/* Main Styles */
.sidebar .block.widget.featured[role="tablist"] .title[role="tab"],
.sidebar .block.widget.featured[role="tablist"] .title[data-role="collapsible"], .sidebar .block.widget.featured[role="tabpanel"] .title[role="tab"],
.sidebar .block.widget.featured[role="tabpanel"] .title[data-role="collapsible"],
.sidebar .block.widget.featured [role="tablist"] .title[role="tab"],
.sidebar .block.widget.featured [role="tablist"] .title[data-role="collapsible"],
.sidebar .block.widget.featured [role="tabpanel"] .title[role="tab"],
.sidebar .block.widget.featured [role="tabpanel"] .title[data-role="collapsible"] {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px; }
  .sidebar .block.widget.featured[role="tablist"] .title[role="tab"] strong,
  .sidebar .block.widget.featured[role="tablist"] .title[data-role="collapsible"] strong, .sidebar .block.widget.featured[role="tabpanel"] .title[role="tab"] strong,
  .sidebar .block.widget.featured[role="tabpanel"] .title[data-role="collapsible"] strong,
  .sidebar .block.widget.featured [role="tablist"] .title[role="tab"] strong,
  .sidebar .block.widget.featured [role="tablist"] .title[data-role="collapsible"] strong,
  .sidebar .block.widget.featured [role="tabpanel"] .title[role="tab"] strong,
  .sidebar .block.widget.featured [role="tabpanel"] .title[data-role="collapsible"] strong {
    line-height: 1.8rem; }
  .sidebar .block.widget.featured[role="tablist"] .title[role="tab"]:before,
  .sidebar .block.widget.featured[role="tablist"] .title[data-role="collapsible"]:before, .sidebar .block.widget.featured[role="tabpanel"] .title[role="tab"]:before,
  .sidebar .block.widget.featured[role="tabpanel"] .title[data-role="collapsible"]:before,
  .sidebar .block.widget.featured [role="tablist"] .title[role="tab"]:before,
  .sidebar .block.widget.featured [role="tablist"] .title[data-role="collapsible"]:before,
  .sidebar .block.widget.featured [role="tabpanel"] .title[role="tab"]:before,
  .sidebar .block.widget.featured [role="tabpanel"] .title[data-role="collapsible"]:before {
    top: 0px;
    display: inline-block; }
.sidebar .block.widget.featured[role="tablist"] .block-content, .sidebar .block.widget.featured[role="tabpanel"] .block-content,
.sidebar .block.widget.featured [role="tablist"] .block-content,
.sidebar .block.widget.featured [role="tabpanel"] .block-content {
  float: none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%; }
  .sidebar .block.widget.featured[role="tablist"] .block-content .product-items, .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-items,
  .sidebar .block.widget.featured [role="tablist"] .block-content .product-items,
  .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-items {
    display: block; }
    .sidebar .block.widget.featured[role="tablist"] .block-content .product-items .products-grid .product-item,
    .sidebar .block.widget.featured[role="tablist"] .block-content .product-items .products-list .product-item, .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-items .products-grid .product-item,
    .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-items .products-list .product-item,
    .sidebar .block.widget.featured [role="tablist"] .block-content .product-items .products-grid .product-item,
    .sidebar .block.widget.featured [role="tablist"] .block-content .product-items .products-list .product-item,
    .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-items .products-grid .product-item,
    .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-items .products-list .product-item {
      max-width: 100%; }
    .sidebar .block.widget.featured[role="tablist"] .block-content .product-items .product-item-photo, .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-items .product-item-photo,
    .sidebar .block.widget.featured [role="tablist"] .block-content .product-items .product-item-photo,
    .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-items .product-item-photo {
      position: relative; }
    .sidebar .block.widget.featured[role="tablist"] .block-content .product-items .product-item-details, .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-items .product-item-details,
    .sidebar .block.widget.featured [role="tablist"] .block-content .product-items .product-item-details,
    .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-items .product-item-details {
      margin: 0; }
  .sidebar .block.widget.featured[role="tablist"] .block-content .product-item-info, .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-item-info,
  .sidebar .block.widget.featured [role="tablist"] .block-content .product-item-info,
  .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-item-info {
    margin: 0; }
  .sidebar .block.widget.featured[role="tablist"] .block-content .product-item-info:hover,
  .sidebar .block.widget.featured[role="tablist"] .block-content .product-item-info.active, .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-item-info:hover,
  .sidebar .block.widget.featured[role="tabpanel"] .block-content .product-item-info.active,
  .sidebar .block.widget.featured [role="tablist"] .block-content .product-item-info:hover,
  .sidebar .block.widget.featured [role="tablist"] .block-content .product-item-info.active,
  .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-item-info:hover,
  .sidebar .block.widget.featured [role="tabpanel"] .block-content .product-item-info.active {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none; }
.sidebar .block.widget.featured[role="tablist"] .owl-controls, .sidebar .block.widget.featured[role="tabpanel"] .owl-controls,
.sidebar .block.widget.featured [role="tablist"] .owl-controls,
.sidebar .block.widget.featured [role="tabpanel"] .owl-controls {
  position: relative;
  top: 0;
  right: 0;
  padding: 0 15px 20px;
  text-align: center; }
.sidebar .block.widget.featured[role="tablist"] .category-title, .sidebar .block.widget.featured[role="tabpanel"] .category-title,
.sidebar .block.widget.featured [role="tablist"] .category-title,
.sidebar .block.widget.featured [role="tabpanel"] .category-title {
  width: 100%;
  text-align: left; }
  .sidebar .block.widget.featured[role="tablist"] .category-title::before, .sidebar .block.widget.featured[role="tabpanel"] .category-title::before,
  .sidebar .block.widget.featured [role="tablist"] .category-title::before,
  .sidebar .block.widget.featured [role="tabpanel"] .category-title::before {
    content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: 400;
    text-rendering: auto;
    transform: translate(0px, 0px); }
  .sidebar .block.widget.featured[role="tablist"] .category-title.active::before, .sidebar .block.widget.featured[role="tabpanel"] .category-title.active::before,
  .sidebar .block.widget.featured [role="tablist"] .category-title.active::before,
  .sidebar .block.widget.featured [role="tabpanel"] .category-title.active::before {
    content: "\f106"; }
  .sidebar .block.widget.featured[role="tablist"] .category-title strong, .sidebar .block.widget.featured[role="tabpanel"] .category-title strong,
  .sidebar .block.widget.featured [role="tablist"] .category-title strong,
  .sidebar .block.widget.featured [role="tabpanel"] .category-title strong {
    padding: 0;
    font-size: 16px; }
.sidebar .block.widget.featured[role="tablist"] .category-content, .sidebar .block.widget.featured[role="tabpanel"] .category-content,
.sidebar .block.widget.featured [role="tablist"] .category-content,
.sidebar .block.widget.featured [role="tabpanel"] .category-content {
  float: none;
  margin-left: 0;
  padding: 20px 0 0;
  text-align: left;
  width: 100%; }
.sidebar .block.widget.featured .products-list .product-items {
  padding-top: 20px; }
  .sidebar .block.widget.featured .products-list .product-items .product-item {
    float: none;
    display: block;
    margin-bottom: 45px; }
  .sidebar .block.widget.featured .products-list .product-items .product-item-info {
    display: block;
    margin-left: 0;
    margin-right: 0; }
  .sidebar .block.widget.featured .products-list .product-items .rating-summary .label {
    display: none; }
  .sidebar .block.widget.featured .products-list .product-items .product-item-details {
    overflow: hidden;
    display: block; }
  .sidebar .block.widget.featured .products-list .product-items .product-item-photo {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    padding: 0 10px 10px 0; }
  .sidebar .block.widget.featured .products-list .product-items .product-item-actions .actions-primary {
    display: block;
    margin-bottom: 5px; }
  .sidebar .block.widget.featured .products-list .product-items .product-image-photo {
    padding: 0; }
  .sidebar .block.widget.featured .products-list .product-items .owl-wrapper-outer {
    overflow: visible; }
  .sidebar .block.widget.featured .products-list .product-items .product-label {
    left: 0px;
    right: auto;
    top: -20px; }
.sidebar .block.widget.featured .not-found {
  padding: 0 0 25px;
  margin: -25px 0 0; }
.sidebar .sidebar-featured .collapsible-block {
  margin-top: 0px; }
.sidebar .sidebar-featured .block {
  margin-bottom: 0; }
  .sidebar .sidebar-featured .block .block-title {
    margin-bottom: 5px; }

.tm-featured-switch-image-container {
  position: relative;
  overflow: hidden; }
  .tm-featured-switch-image-container .replaced {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%; }

.featured-listing-gallery .fotorama__arr,
.featured-listing-gallery .fotorama__thumb__arr,
.featured-listing-carousel .fotorama__arr,
.featured-listing-carousel .fotorama__thumb__arr {
  background: none; }
.featured-listing-gallery .fotorama__arr,
.featured-listing-carousel .fotorama__arr {
  width: 40px;
  top: 50%;
  bottom: auto; }
  .featured-listing-gallery .fotorama__arr .fotorama__arr__arr,
  .featured-listing-carousel .fotorama__arr .fotorama__arr__arr {
    background-image: none;
    background: rgba(0, 0, 0, 0.05);
    width: 40px;
    height: 40px; }
.featured-listing-gallery .fotorama__arr--prev .fotorama__arr__arr:before,
.featured-listing-gallery .fotorama__arr--next .fotorama__arr__arr:before,
.featured-listing-carousel .fotorama__arr--prev .fotorama__arr__arr:before,
.featured-listing-carousel .fotorama__arr--next .fotorama__arr__arr:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 22px;
  color: #5a5e62; }
.featured-listing-gallery .fotorama__arr--prev .fotorama__arr__arr:before,
.featured-listing-carousel .fotorama__arr--prev .fotorama__arr__arr:before {
  content: "\f104"; }
.featured-listing-gallery .fotorama__arr--next .fotorama__arr__arr:before,
.featured-listing-carousel .fotorama__arr--next .fotorama__arr__arr:before {
  content: '\f105'; }

/* Main Styles */
.columns {
  display: block !important; }

.block.widget.featured .product-item {
  position: relative;
  max-width: 100%; }
  .block.widget.featured .product-item .product-item-info {
    position: relative; }
  .block.widget.featured .product-item .product-label {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 99;
    font-size: 12px;
    color: #ffffff;
    background-color: #ff0000;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 700; }
.block.widget.featured .not-found {
  padding: 0;
  margin: 0; }
  @media (max-width: 767px) {
    .block.widget.featured .not-found {
      padding: 0 0 15px;
      margin: -30px 0 0; } }
.block.widget.featured .testd {
  display: none; }

.block.widget.featured .products-grid .owl-carousel .owl-item .product-item {
  width: 100%; }

.block.featured {
  float: none; }
  .block.featured .block-content.loader > div {
    position: relative; }
    .block.featured .block-content.loader > div::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/loader.gif) center 100px no-repeat;
      z-index: -1; }
  .block.featured .block-content .owl-carousel .owl-nav {
    position: absolute;
    top: -30px;
    right: 10px; }
    .block.featured .block-content .owl-carousel .owl-nav .owl-prev,
    .block.featured .block-content .owl-carousel .owl-nav .owl-next {
      display: inline-block;
      padding: 0 7px;
      cursor: pointer; }
      .block.featured .block-content .owl-carousel .owl-nav .owl-prev:before,
      .block.featured .block-content .owl-carousel .owl-nav .owl-next:before {
        display: inline-block;
        font-family: "FontAwesome";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0); }
      .block.featured .block-content .owl-carousel .owl-nav .owl-prev:before,
      .block.featured .block-content .owl-carousel .owl-nav .owl-next:before {
        font-size: 36px;
        line-height: 40px;
        color: #999999;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .block.featured .block-content .owl-carousel .owl-nav .owl-prev:hover:before,
      .block.featured .block-content .owl-carousel .owl-nav .owl-next:hover:before {
        color: #1979c3; }
  .block.featured .block-content .owl-carousel .owl-dots {
    text-align: center; }
    .block.featured .block-content .owl-carousel .owl-dots .owl-dot {
      width: 12px;
      height: 12px;
      display: inline-block;
      margin: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #999999; }
      .block.featured .block-content .owl-carousel .owl-dots .owl-dot.active {
        background: #1979c3; }

/*# sourceMappingURL=module.css.map */
