.footer {
  &__main-content {
    margin-top: 42px;
    @include tablets {
      @include container-box;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: 55px auto 50px;
    }
  }
  &__block {
    padding: 0 4px 0 10px;
    width: 100%;
    &.information-block {
      margin-bottom: 35.5px;
      color: $dark;
      p {
        font-family: $font-bold;
      }
      .footer__adress {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 12px;
        &-icon {
          margin-right: 4%;
          transform: translateY(-1px);
          @include font-icon("location_on", $material-icons);
        }
        &-text {
          margin: 0;
          text-transform: capitalize;
          font-size: 14px;
          white-space: nowrap;
        }
      }
      .footer__phone-num {
        display: flex;
        justify-content: flex-start;
        &-icon {
          margin-right: 4%;
          transform: translateY(-1px);
          font-size: 15px;
          @include font-icon("phone", $material-icons);
        }
        &-text {
          margin: 0;
          text-transform: capitalize;
          font-size: 14px;
        }
      }
    }
    &.links-block {
      margin-bottom: 34.5px;
      flex-basis: 150%;
      margin-right: 5%;
      @media (min-width: 768px) and (max-width: 991px) {
        flex-basis: 200%;
        margin-left: 20px;
        margin-right: 0;
      }

      .footer__links-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        &::before, &::after {
          content: '';
          width: 100%;
          order: 1;
        }
        .footer__link {
          font-size: 13px;
          text-transform: uppercase;
          text-decoration: none;
          color: $dark;
          display: block;
          width: 33.3%;
          line-height: 2;
          margin-bottom: 6px;
          font-family: $font-bold;
          letter-spacing: .3px;
          padding-right: 5px;
          @include laptop {
            font-size: 13.7px;
            width: 25%;
            padding-right: 0;
            white-space: nowrap;
          }
          &:nth-child(n+4) {
            order: 1;
          }
          &:nth-child(n+7) {
            order: 2;
          }
          &:hover {
            color: $red;
          }
        }
      }
    }
    &.follow-us-block {
      margin-bottom: 28px;
      white-space: nowrap;
      color: $dark;
      flex-shrink: 2;
      display: flex;
      flex-wrap: wrap;
      @include tablets {
        display: block;
      }

      .footer__media-icons-container {
        .footer__media {
          color: $dark;
          margin-right: 17px;
          font-size: 21px;
          &:hover {
            color: $red;
          }
          &-facebook {
            @include faBrand($facebook-icon, 21px);
          }
          &-twitter {
            @include faBrand($twitter-icon, 21px);
          }
          &-instagram {
            @include faBrand($instagram-icon, 21px)
          }
          &-youtube {
            @include faBrand($youtube-icon, 21px)
          }
          &-printerest {
            @include faBrand($printerest-icon, 21px)
          }
          &-flickr {
            @include faBrand($flickr-icon, 21px)
          }
          &-linkedin {
            @include faBrand($linkedin-icon, 21px)
          }
        }
      }
    }
    &.copyright-block {
      @include container-box;
      display: flex;
      flex-flow: column;
      text-align: center;
      color: rgba($dark, .9);
      margin: 0 auto 28px;

      p {
        font-size: 12px;
        font-family: $font-bold;
        letter-spacing: .35px;
      }

      a {
        color: rgba($dark, .9);
        &:hover {
          color: $red;
        }
      }

      & ~ * {
        display: none;
      }
      @include tablets {
        br {
          display: none;
        }
      }
      @include tablets {
        flex-flow: row-reverse;
        justify-content: space-between;
      }
    }

    &-caption {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $red;
      margin-bottom: 11px;
      font-family: $font-extrabold;
      width: 100%;
      @include tablets {
        margin-bottom: 33px;
      }
      .footer_chevron {
        float: right;
        padding: 0 7.5px;
        &.chevron-up {
          font-size: 14px;
          @include font-icon($chevron-up, $fa);
        }
        &.chevron-down {
          font-size: 14px;
          @include font-icon($chevron-down, $fa);
        }
        @include tablets {
          display: none;
        }
      }
    }
  }
  &__separator {
    margin-top: 0;
    margin-bottom: 26px;
    border: none;
    height: 1px;
    background-color: $milk-grey;
    @include tablets {
      margin-bottom: 40px;
    }
  }
}
