
/*
* @section      Custom pages
* @description  This section holds specific style for Custom pages
*/

.cms-page-view {
    @for $i from 1 through 6 {
        h#{$i},
        heading-#{$i}{
            text-transform: uppercase;
            margin-bottom: 1em;
        }
    }
}

.custom-page{
    table{
        margin-bottom: 4em;

        &.responsive{
            @media (max-width: $screen-sm-min - 1) {
                thead {
                    display: none;
                }
                tbody td {
                    display: block;
                    text-align: center;
                    border-left: none;
                    &:first-child{
                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: 600;
                        color: $text-dark;
                        background: $bg-dark;
                        padding: 1em 1em .8em;
                        &:before{
                            display: none;
                        }
                    }
                }
                tbody td:before {
                    content: attr(data-th);
                    display: block;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
}


// Home page
//====================================
.cms-index-index{
    .catalog-img-grid-1{
        margin-bottom: 20px;

        .catalog-image-grid-title{
            display: none;
        }

        .category-grid.columns-1 > li{
            @media (min-width: $screen-sm-min){
                @include flex-basis(50%);
            }
            @media (min-width: $screen-lg-min){
                @include flex-basis(33.3333%);
            }
        }

        &.catalog-image-grid .category-grid > li .grid-inner {
            height: 100%;
            background: transparent;
            overflow: hidden;
            position: relative;

            .category-link,
            .subcategory-link{
                color: $white;
                &:hover{
                    color: $primary;
                }
            }

            > .category-image img {
                display: block;
            }

            .grid-inner_content > .category-link {
                font-size: 30px;
                line-height: 34px;
                max-width: 190px;
                font-weight: 700;
                text-transform: uppercase;

                @media(max-width: $screen-xs-min - 1){
                    font-size: 20px;
                    line-height: 1;
                    margin-bottom: 4px;
                }
            }

            .grid-inner_content {
                padding: 10px;
                transition: padding-top .6s ease;
                position: absolute;
                top: 0;
                left: 0;
                @include make-flex;
                @include flex-direction(column);
                @include justify-content(center);

                @media(max-width: $screen-xl-min - 1){
                    top: 50%;
                    transform: translateY(-50%);
                }
                @media (min-width: $screen-md-min){
                    padding: 2vw 1vw 10px 1.85vw;
                    transition: padding-top .6s ease;
                }
                @media (min-width: $screen-xl-min) {
                    padding-top: 11vw;
                }

                .category-icon_custom_wrap {
                    max-height: 200px;
                    transform: perspective(60px);
                    transition: max-height .2s .5s ease;

                    @media (max-width: $screen-xxl-min - 1) {
                        display: none;
                    }
                }
                .category-icon_custom {
                    font-size: 60px;
                    line-height: 1;
                    color: $white;
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 4px;
                    opacity: 1;
                    transform: rotateX(0deg);
                    transition: .3s .3s ease;
                }

                > .inner {
                    overflow: hidden;

                    @media (min-width: $screen-md-min){
                        max-height: 0;
                        opacity: 0;
                        transition: .1s ease;
                    }
                }

                .subcategory-grid > li{
                    @media (max-width: $screen-sm-min - 1){
                        padding: 4px 0;
                    }
                    @media(max-width: $screen-xs-min - 1){
                        padding: 0;

                        a{
                            font-size: 13px;
                            line-height: 14px;
                        }
                    }
                }
            }

            &:hover {
                @media (min-width: $screen-md-min) {
                    .grid-inner_content {
                        padding-top: 1vw;
                        transition: padding-top $default-transition;

                        @media (min-width: $screen-xl-min) {
                            padding-top: 5vw;
                        }

                        .category-icon_custom_wrap {
                            max-height: 0;
                            transition: 0s 0s;
                        }
                        .category-icon_custom {
                            transform: rotateX(90deg);
                            opacity: 0;
                            transition: .2s 0s ease;
                        }

                        > .inner {
                            max-height: 500px;
                            opacity: 1;
                            transition: opacity .8s ease, max-height 1.5s ease;
                        }
                    }
                }
            }
        }

        @media (min-width: $screen-lg-min){
            .catalog-image-grid_class-1,
            .catalog-image-grid_class-4{
                animation-name: fadeInLeft;
                animation-delay: 0s;
            }
            .catalog-image-grid_class-2,
            .catalog-image-grid_class-5{
                animation-name: fadeInUp;
                animation-delay: 0.6s;
            }
            .catalog-image-grid_class-3,
            .catalog-image-grid_class-6{
                animation-name: fadeInRight;
                animation-delay: 0.3s;
            }
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1){
            .catalog-image-grid_class-1,
            .catalog-image-grid_class-3,
            .catalog-image-grid_class-5{
                animation-name: fadeInLeft;
                animation-delay: 0s;
            }
            .catalog-image-grid_class-2,
            .catalog-image-grid_class-4,
            .catalog-image-grid_class-6{
                animation-name: fadeInRight;
                animation-delay: 0.3s;
            }
        }
    }

    .page-main{
        margin-top: 0;
        margin-bottom: 0;
    }

    .featured-products-1{
        margin-bottom: 40px;

        .quick-view-button{
            display: none;
            margin: 0;
            padding: 0;
        }
    }

    .brands-widget{
        .brand-logo{
            img{
                opacity: .15;
                transition: opacity .3s ease;
            }

            &:hover img{
                transform: rotate3d(0, 1, 0, -360deg);
                opacity: 1;
                transition: transform .6s ease-in, opacity .4s ease;
            }
        }
    }

    .banner-1{
        margin-bottom: 4.01vw;
        position: relative;
        z-index: 1;

        img{
            position: absolute;
            z-index: -1;
            top: 0;
            left: 50%;
            margin-left: -50vw;
            width: 100vw;
            max-width: 100vw;
            height: 38.3333vw;

            @media (max-width: $screen-xxl-min - 1){
                filter: brightness(0.75);
            }
        }
    }
    .banner-1_txt{
        @include make-flex;
        @include justify-content(flex-end);
        color: $white;
        padding: 10px 15% 10px 10px;
        height: 38.3333vw;

        @media (max-width: $screen-xxl-min - 1){
            padding-right: 8%;
        }
        @media (max-width: $screen-xl-min - 1){
            padding-right: 2%;
        }

        .banner-1_txt_inner{
            @include make-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(flex-start);
        }

        .banner-1_txt-small{
            font-size: calc(11px + 0.625vw);
            line-height: 1;
            text-transform: uppercase;
        }
        .banner-1_txt-big {
            @include make-flex;
            font-weight: 700;

            @media (min-width: $screen-sm-min) {
                margin-left: -4px;
            }
            @media (min-width: $screen-md-min) {
                margin-left: -8px;
            }
        }
        .banner-1_txt-big_1{
            font-size: 12.5vw;
            line-height: 11.2vw;
        }

        .banner-1_txt-big_2{
            @include make-flex;
            @include flex-direction(column);
            text-transform: uppercase;

            span:first-child{
                font-size: 8.3333vw;
                line-height: 7.76vw;
            }
            span:last-child{
                font-size: 3.125vw;
                line-height: 2.08333vw;
            }
        }

        .banner-1_txt-md{
            font-size: calc(24px + 1.6666vw);
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 24px;

            @media (max-width: $screen-xl-min - 1){
                margin-bottom: 12px;
            }
            @media (max-width: $screen-sm-min - 1){
                font-size: 14px;
                margin-bottom: 4px;
            }
        }

        .banner-1-link{
            background-color: transparent;
            border: 2px solid $white;
            color: $white;
            display: inline-block;
            padding: 4px 9px;
            font-weight: 400;
            text-transform: uppercase;
            transition: $default-transition !important;
            &:hover{
                background: rgba($white, .75);
                border-color: $accent;
                color: $accent;
            }

            @media (min-width: $screen-sm-min) {
                padding: 13px 24px;
                font-weight: 700;
            }
        }
    }

    .banners{
        margin-bottom: 2.0833vw;

        li{
            margin-bottom: $gutter-width;
        }
    }
    .banner_inner{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $white;
            opacity: 0;

            @media (max-width: 1799px){
                opacity: .3;
            }
        }

        .banner_bg{
            display: block;
            position: relative;
            z-index: 0;

            @media (min-width: $screen-xs-min){
                filter: grayscale(1) blur(0.5px);
                transition: .3s filter ease;
            }
        }

        .banner_txt{
            position: absolute;
            z-index: 3;
            top: 0;
            height: 100%;
            left: 500px;
            @include make-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(flex-start);

            @media (max-width: 1799px){
                left: 300px;
            }
            @media (max-width: $screen-xl-min - 1){
                left: 225px;
            }
            @media (max-width: $screen-md-min - 1){
                left: 400px;
            }
            @media (max-width: $screen-sm-min - 1){
                left: auto;
                right: 10px;
            }

            span{
                color: $accent;
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: 4px;

                @media (max-width: $screen-lg-min - 1) and (min-width: $screen-md-min){
                    font-size: 16px;
                    line-height: 16px;
                }
                @media (max-width: $screen-xs-min - 1){
                    font-size: 14px;
                    line-height: 14px;
                }
            }
            strong{
                color: $accent;
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: 4px;

                @media (max-width: $screen-lg-min - 1) and (min-width: $screen-md-min){
                    font-size: 40px;
                    line-height: 40px;
                }
                @media (max-width: $screen-sm-min - 1){
                    font-size: 22px;
                    line-height: 22px;
                }
                @media (max-width: $screen-xs-min - 1){
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            p{
                color: #595959;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 12px;
                text-transform: uppercase;
                max-width: 270px;

                @media (max-width: $screen-lg-min - 1) and (min-width: $screen-md-min){
                    font-size: 12px;
                    line-height: 16px;
                    max-width: 180px;
                }
                @media (max-width: $screen-xs-min - 1){
                    font-size: 10px;
                    line-height: 12px;
                    max-width: 110px;
                }
            }

            .banners_link{
                @include button-block;
                @include button-block__primary;
            }
        }
    }

    .banners .banner_inner:hover {
        @media (min-width: $screen-xs-min) {
            .banner_bg{
                -webkit-filter: grayscale(0) blur(0);
                filter: grayscale(0) blur(0);
            }
        }
    }
}

// About us
//====================================

.cms-about-us {
    .breadcrumbs{
        display: none;
    }

    .page-main{
        margin-bottom: 0;
    }

    .section-title {
        margin-bottom: 78px;
    }

    .page-title{
        margin-bottom: 4.0625vw;

        @media (min-width: $screen-lg-min){
            margin-bottom: 78px;
        }
    }

    .page-title,
    h3,
    .heading-3{
        font-size: 50px;
        line-height: 50px;
    }
    h4,
    .heading-4{
        font-size: 22px;
        line-height: 34px;
        display: block;
        width: 100%;
    }

    .about-us_info{
        @include make-flex;
        @include justify-content(center);
        @include align-items(stretch);
        @include flex-wrap(wrap);
        margin-bottom: 5.2vw;

        @media (min-width: $screen-sm-min){
            @include flex-wrap(nowrap);
        }
        @media (min-width: $screen-lg-min){
            margin-bottom: 100px;
        }

        .heading-4{
            font-size: 16px;
            line-height: 20px;

            @media (min-width: $screen-lg-min){
                font-size: 22px;
                line-height: 34px;
            }
        }

        img{
            display: block;
        }

        .about-us_info_txt,
        .about-us_info_img{
            @include flex-basis(100%);

            @media (min-width: $screen-lg-min){
                @include flex-basis(50%);
            }
        }
        .about-us_info_txt{
            @include make-flex;
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);
            background: $bg-light;
            padding: 20px;

            p{
                max-width: 680px;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 0;

                @media (min-width: $screen-lg-min){
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .skills {
        margin-bottom: 3.125vw;

        @media (min-width: $screen-lg-min){
            margin-bottom: 60px;
        }

        > div{
            margin-bottom: calc(10px + 1.04vw);

            @media (min-width: $screen-lg-min){
                margin-bottom: 30px;
            }
        }

        .value {
            color: $primary;
            font-weight: 700;
            font-size: calc(20px + 1.56vw);
            line-height: calc(20px + 1.56vw);
            letter-spacing: 9px;
            margin-bottom: 1.25vw;

            @media (min-width: $screen-lg-min){
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 24px;
            }
        }
        .term {
            color: $text-light;
            font-size: calc(10px + 0.625vw);
            line-height: calc(10px + 0.625vw);
            font-weight: 700;

            @media (min-width: $screen-lg-min){
                font-size: 22px;
                line-height: 22px;
            }
        }
    }
}

.about-us_services{
    margin-bottom: 5.2vw;

    @media (min-width: $screen-lg-min){
        margin-bottom: 100px;
    }

    ul{
        @include make-flex;
        @include justify-content(center);
        @include align-items(stretch);
        @include flex-wrap(wrap);
    }
    li{
        @include flex-basis(100%);

        @media (min-width: $screen-sm-min){
            @include flex-basis(50%);
        }
        @media (min-width: $screen-lg-min){
            @include flex-basis(33.33333%);
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1){
            &:nth-child(1){
                @include order(1);
            }
            &:nth-child(2){
                @include order(2);
            }
            &:nth-child(3){
                @include order(4);
            }
            &:nth-child(4){
                @include order(3);
            }
            &:nth-child(5){
                @include order(5);
            }
            &:nth-child(6){
                @include order(6);
            }
        }
    }

    img {
        display: block;
    }

    .about-us_services_txt{
        @include make-flex;
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        background: $bg-light;
        height: 100%;
        padding: 20px;

        i{
            color: $primary;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 24px;
        }

        h4{
            margin-bottom: 32px;
        }

        p{
            max-width: 490px;
            margin-bottom: 0;
        }
    }
}

.cms-about-us .team {
    margin-bottom: 3.65vw;

    @media (min-width: $screen-lg-min){
        margin-bottom: 70px;
    }

    h3{
        margin-bottom: 4.0625vw;

        @media (min-width: $screen-lg-min){
            margin-bottom: 78px;
        }
    }

    li{
        margin-bottom: $gutter-width;
    }

    img{
        margin-bottom: 8px;
    }

    .team_name{
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 0;
    }
}

// Testimonials in About Us
//------------------------------------

.cms-about-us .testimonials {
    background: $bg-light;
    padding: 7.3vw 20px 5.73vw;

    .testimonials_inner{
        max-width: 1180px;
        margin: 0 auto;
    }

    blockquote {
        @include make-flex;
        @include flex-wrap(wrap);
        padding: 0 8px;

        i{
            color: $primary;
            font-size: calc(20px + 1.5625vw);
            line-height: calc(20px + 1.5625vw);
            text-align: left;
            display: none;

            @media (min-width: $screen-sm-min){
                display: block;
                @include flex-basis(70px);
            }
            @media (min-width: $screen-lg-min){
                font-size: 50px;
                line-height: 50px;
            }
        }

        cite {
            display: block;
            text-align: center;
            margin: 0 auto;
            @include flex-basis(100%);
            &:before{
                content: '- ';
            }
        }
        q {
            display: block;
            text-align: left;
            font-weight: 700;
            margin-bottom: 1.5vw;
            @include flex-basis(100%);

            @media (min-width: $screen-sm-min){
                font-size: 16px;
                line-height: 20px;
                @include flex-basis(calc(100% - 70px));
                margin-bottom: 12px;
            }
            @media (min-width: $screen-lg-min){
                font-size: 22px;
                line-height: 34px;
                margin-bottom: 24px;
            }
        }
    }
    .owl-testimonials .owl-dots{
        @include make-flex;
        @include justify-content(center);
        @include align-items(center);
        padding-top: 4px;

        @media (min-width: $screen-sm-min){
            padding-top: 12px;
        }
        @media (min-width: $screen-lg-min){
            padding-top: 16px;
        }

        div{
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background: #c9c9c9;
            transition: $default-transition;

            &.active,
            &:hover{
                background: $default;
            }

            + div{
                margin-left: 15px;
            }
        }
    }
}

// Customer Service
//=======================================

.customer-service {
    h3 {
        font-size: 26px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 22px;
    }
    h4 {
        font-size: 20px;
        line-height: 31px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .customer-service__block {
        margin-bottom: 94px;
    }

    .table-block {
        margin-bottom: 65px;

        h3 {
            margin-bottom: 46px;
        }
        table {
            width: 100%;
        }
        thead {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;

            th {
                padding: 10px;
                border-left: 1px solid $border-color;
                font-size: 16px;
                line-height: 1;
                vertical-align: middle;
                &:first-child {
                    padding-left: 0;
                    border-left: none;
                }

                @media (min-width: $screen-md-min) {
                    padding: 15px 10px 15px 35px;
                }
            }
        }

        tbody {
            tr {
                &:first-child td {
                    @media (min-width: $screen-sm-min) {
                        padding-top: 41px;
                    }
                }
                &:last-child td {
                    @media (min-width: $screen-sm-min) {
                        padding-bottom: 30px;
                    }
                }
            }
            td {
                font-size: 12px;
                line-height: 1;
                padding: 7px;
                @media (min-width: $screen-sm-min) {
                    border-left: 1px solid $border-color;
                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }
                }
                @media (min-width: $screen-md-min) {
                    padding: 11px 10px 11px 35px;
                }
            }
        }

        @media (max-width: $screen-sm-min - 1) {
            thead {
                display: none;
            }
            tbody td {
                display: block;
                text-align: center;
                &:first-child {
                    font-size: 14px;
                    line-height: 1.5;
                    font-weight: 600;
                    background: $bg-dark;
                    margin-bottom: 1em;
                    padding: 1em 1em .8em;
                    &:before {
                        display: none;
                    }
                }
                &:last-child {
                    margin-bottom: 1em;
                }
            }
            tbody td:before {
                content: attr(data-th);
                display: block;
                text-align: center;
                font-weight: 600;
            }
        }
    }

    .list-block {
        h3 {
            margin-bottom: 27px;
        }

        li {
            margin-bottom: 20px;
        }
        h4 {
            @include font-icon('\ea25');
            &:before {
                font-size: 30px;
                line-height: inherit;
                padding-right: 10px;
            }
        }
    }
}

.cms-customer-service .page-title-wrapper .page-title {
    margin-bottom: 86px;
}

// Privacy policy
//------------------------------------

.change-message {
    color: #31708f;
    background-color: #d9edf7;
    padding: 0.8rem 3.5rem 0.8rem 1rem;
    margin-bottom: 30px;
    border: 1px solid #bce8f1;
    border-radius: 2px;
    position: relative;
    font-size: 14px;
}

.privacy-policy-page {
    dd {
        font-style: normal;
        margin-bottom: 50px;
    }
}


//404 page
//======================================

.not-found-page {
    .disc li,
    dd {
        font-style: normal;
    }

    .not-found-page_top {
        @include make-flex;
        @include flex-direction(column);
        @include align-items(center);
        margin-bottom: 30px;

        img {
            width: auto;
            max-width: 100%;
            margin-bottom: 40px;
        }

        > div {
            @include make-flex;
            @include justify-content(center);
            @include align-items(flex-end);
            @include flex-wrap(wrap);
            text-align: center;
        }
        strong {
            font-size: 20px;
            line-height: 1;
            font-weight: 600;
            padding-right: 20px;

            @media (min-width: $screen-sm-min) {
                font-size: 50px;
                line-height: 1;
            }

            @media (min-width: $screen-md-min) {
                font-size: 84px;
                line-height: 84px;
            }
        }
        span {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;

            @media (min-width: $screen-sm-min) {
                font-size: 30px;
                line-height: 38px;
            }

            @media (min-width: $screen-md-min) {
                font-size: 55px;
                line-height: 68px;
            }
        }
    }

    .not-found-page_bottom {
        dt {
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            text-align: center;
            margin-bottom: 30px;

            @media (min-width: $screen-md-min) {
                font-size: 20px;
            }
        }
        dd {
            text-align: center;

            a {
                display: inline-block;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                padding: 12px 27px;
                text-transform: uppercase;
                @include font-icon('\ea40');
                @include button-block__primary;
                &:before {
                    padding-right: 5px;
                    font-size: 22px;
                    vertical-align: sub;
                }
            }
        }
    }
}


// Contact Us
//=======================================
.contact-index-index{

    .page-main {
        margin-top: 70px;
        @include tablets {
            margin-top: 0;
        }
    }

    .legend{
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: $primary;
        font-family: $font-bold;
    }

    .field.note{
        margin-bottom: 8px;
    }

    button.action.primary {
        display: block;
        margin-right: auto;
    }
}

// Search terms
//------------------------------------

.search-term-popular {
    ul.search-terms {
        @include clearfix;
        li {
            float: left;
            margin-right: 15px;
            font-size: 24px;
        }
    }
}

// Advanced Search
//------------------------------------

.search.advanced{
    max-width: 50%;
    margin: 0 auto;

    @media (min-width: $screen-md-min){
        max-width: 75%;
    }
    @media (min-width: $screen-lg-min){
        max-width: 50%;
    }

    legend.legend{
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: $primary;
    }

    .price .range.price{
        @include make-flex;
        @include justify-content(space-between);
        @include align-items(center);
        position: relative;

        >.field{
            @include flex-basis(48%);
        }

        .addafter{
            position: absolute;
            top: 0;
            left: calc(100% + 6px);
            line-height: 28px;
            margin-right: 0;

            @media (max-width: $screen-sm-min - 1){
                left: auto;
                right: 0;
            }
        }

        .separator{
            line-height: 28px;
            padding: 7px 0;
            margin-bottom: 1rem;
        }

        .addon{
            @media (max-width: $screen-sm-min - 1){
                padding-right: 45px;
            }
        }
    }

    .brand_id select{
        max-height: 100px;

        option:first-child{
            display: none;
        }
    }

    .actions-toolbar{
        margin-top: 24px;
    }
}

// Advanced Search
//------------------------------------

.search-terms{
    ul{
        @include make-flex;
        @include justify-content(flex-start);
        @include align-items(center);

        li{
            margin: 0 5px 5px 0;
            border: 1px solid $border-color;
        }
        a{
            padding: 5px;
            color: $default;
            &:hover{
                background: $bg-light;
            }
        }
    }
}

// Orders and Returns
//------------------------------------

.form-orders-search{
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: $screen-sm-min){
        max-width: 75%;
    }
    @media (min-width: $screen-lg-min){
        max-width: 50%;
    }

    .actions-toolbar{
        margin-top: 14px;

        @media (min-width: $screen-md-min){
            margin-top: 24px;
        }
        button{
            width: 100%;
        }
    }

    .select2-container{
        max-width: 100%;
        width: 100% !important;
    }
}

.sales-guest-form{
    .fieldset{
        margin-top: 14px;

        @media (min-width: $screen-md-min){
            margin-top: 24px;
        }
    }

    .admin__legend{
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: $primary;
        margin-bottom: 12px;
    }

    .field.note{
        margin-bottom: 8px;
    }
}


.shipping-delivery-page{
    p{
        margin-bottom: 20px;

        @media (min-width: $screen-md-min){
            margin-bottom: 30px;
        }
    }

    .heading-3{
        text-transform: uppercase;
        color: $primary;
        margin-bottom: 10px;
    }

    ul li{
        padding-left: 15px;
        position: relative;
        margin-bottom: 0.8em;
        &:before{
            content: '.';
            font-size: 35px;
            line-height: inherit;
            color: $primary;
            position: absolute;
            top: -8px;
            left: 0;
        }
        &:last-child{
            margin-bottom: 1.5em;
        }
    }

    .shipping-delivery-page__border{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color;

        @media (min-width: $screen-md-min){
            padding-bottom: 30px;
            margin-bottom: 40px;
        }

        span:not(.heading-3){
            margin-bottom: 15px;
            display: block;
        }
    }

    .shipping-delivery-page_shipping-icon{
        @include font-icon('\eaec')
    }
    .shipping-delivery-page_track-icon{
        @include font-icon('\ea66')
    }
    .shipping-delivery-page_order-icon{
        @include font-icon('\ed2f')
    }
    .shipping-delivery-page_shipping-icon,
    .shipping-delivery-page_track-icon,
    .shipping-delivery-page_order-icon{
        &:before{
            font-size: 40px;
            color: $primary;
            padding-right: 15px;
        }
    }
}

// FAQ page
//=========================================

.faq-page{
    #faq-accordion{
        .accordion-trigger{
            margin-bottom: 30px;
            padding-right: 30px;
            position: relative;
            &:before{
                content: 'q';
                text-transform: uppercase;
                font-size: 20px;
                line-height: 1;
                color: $white;
                background: $primary;
                text-align: center;
                padding: 15px 0;
                width: 50px;
                display: inline-block;
                margin-right: 15px;
                cursor: pointer;
            }
            &:after{
                position: absolute;
                font-size: 20px;
                line-height: 1;
                top: 17px;
                right: 0;
                cursor: pointer;
                @include font-icon__pseudo('\e926');
            }
            &.open:after{
                @include font-icon__pseudo('\e929');
            }

            @media (min-width: $screen-sm-min) {
                display: inline-block;
            }

            span{
                cursor: pointer;
                font-size: 20px;
                line-height: 50px;
                color: $primary;
            }
        }

        .accordion-content{
            display: none;
            p{
                padding-bottom: 50px;
                margin-bottom: 0;

                &:before{
                    content: 'a';
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 1;
                    color: $primary;
                    background: lighten(saturate(adjust_hue($bg-dark, 0), 0%), 1.5686274509804008%);;
                    text-align: center;
                    padding: 15px 0;
                    width: 50px;
                    display: inline-block;
                    margin: 5px 15px 15px 0;
                    float: left;
                }
            }
        }
    }
}

// Support page
//=======================================

.support-page{
    .text-block{
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
    }
    .boxes-block{
        li a{
            transition: 0s;
        }
        li div{
            background: transparent;
            border: 1px solid $primary;
            margin-bottom: 30px;
            padding: 87px 10px;
            transition: $default-transition;
            @include make-flex;
            @include justify-content(center);
            @include align-items(center);
            &:hover{
                background: $primary;

                span,
                span:before{
                    color: $white;
                }
            }

            @media (min-width: $screen-lg-min) {
                margin-bottom: 50px;
            }

            span{
                font-size: 20px;
                line-height: 1;
                @include make-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                &:before{
                    color: $primary;
                    font-size: 70px;
                    line-height: 1;
                }
            }
        }

        .support-page__archive-icon{
            @include font-icon('\ebd8');
        }
        .support-page__bubbles-icon{
            @include font-icon('\ea04');
        }
        .support-page__bubble-question-icon{
            @include font-icon('\ebd9');
        }
        .support-page__envelope-icon{
            @include font-icon('\ea39');
        }
    }
}

// Guarantee page
//=======================================+
.guarantee-page{
    p{
        margin-bottom: 20px;
    }
    h3{
        font-size: 35px;
        line-height: 1;
        color: #000;
        font-weight: 600;
    }
    h4{
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        color: $text-dark;
        @include font-icon('\ea1f');
        &:before{
            font-size: 30px;
            line-height: inherit;
            color: $primary;
            padding-right: 10px;
        }
    }
    ul{
        padding: 10px 0 20px;

        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .text-block{
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
        &:last-child{
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

// Secure payment page
//=======================================+
.secure-payment-page{
    h4{
        color: $primary;
        @include font-icon('\ea1f');
        &:before{
            font-size: 1.5em;
            line-height: inherit;
            color: $primary;
            padding-right: 10px;
            vertical-align: bottom;
        }
    }
    ul{
        padding: 15px 0 20px;

        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .secure-payment_icons{
        ul{
            @include clearfix;

            li{
                float: left;
                margin-right: 28px;
            }

            a{
                font-size: 41px;
                line-height: 1;
                color: $primary;
                &:hover{
                    color: $text-dark;
                }
            }
        }
    }
}

// Terms & Conditions
//=======================================

.terms-conditions-page{
    p{
        margin-bottom: 28px;
    }
    ul{
        h4{
            color: $primary;
            @include font-icon('\e9b1');
            &:before{
                font-size: 1.5em;
                line-height: inherit;
                color: $primary;
                padding-right: 10px;
                vertical-align: bottom;
            }
        }
    }
}

// Thank You
//=======================================

.cms-thank-you {
    .category-description {
        width: 100%;
        max-width: 1020px;
        margin: auto;
        text-align: center;
    }
    .category-title h1 {
        color: $blue;
    }
}

// Template settings
//=======================================

.cms-template-settings {
    .page-title-wrapper .page-title {
        margin-bottom: 86px;
    }

    &.cms-page-view h3 {
        font-size: 20px;
        line-height: 1;
        text-transform: none;
        margin-bottom: 2em;

        em {
            font-weight: 400;
        }
    }

    .data-table {
        margin-bottom: 40px;
        thead {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;

            th {
                border-left: 1px solid $border-color;
                background: transparent;
                padding: 5px 5px;
                text-transform: none;
                &:first-child {
                    padding-left: 0;
                    border-left: none;
                }
                @media (min-width: $screen-md-min) {
                    padding: 10px 20px;
                }
            }
        }
        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 15px;
                        @media (min-width: $screen-md-min) {
                            padding-top: 35px;
                        }
                    }
                }
                &:last-child {
                    td {
                        padding-bottom: 15px;
                        @media (min-width: $screen-md-min) {
                            padding-bottom: 30px;
                        }
                    }
                }
            }
            td {
                padding: 5px 5px;
                border-left: 1px solid $border-color;
                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }

                @media (min-width: $screen-md-min) {
                    padding: 10px 20px;
                }
            }
        }
    }
}
.extra-title-settings {
    font-weight: 500;
}

.action.nav-toggle {
    display: none;
}

.tm-logo-container .tm-logo-image {
    margin-bottom: 0;
    height: 58px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets-2 {
        height: 174px;
    }
    @include media-between($screen-md-min, $screen-mmd-min - 1) {
        margin-bottom: 50px;
        margin-top: -50px;
        align-items: flex-start;
    }

    .logo img {
        width: 100px;
        @include tablets-2 {
            width: 200px;
        }
        @include laptop {
            width: 300px;
        }

    }
}

.customer-account-create .form.form-create-account {
    max-width: 842px;
    margin-right: auto;
    margin-left: auto;
}


//Request a quote mobile breadcrumbs alignment
.category-request-a-quote {
    .breadcrumbs{
        @media (max-width: $screen-md-min) {
            margin-top: 100px;
            margin-bottom: 15px;
        }
    }
}
//Contact us tablets container alignment
.contact-index-index {
    .page-main{
        @media (max-width: $screen-md-min) {
            margin-top: 100px;
            margin-bottom: 15px;
        }
    }
}