.page-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  .page-section {
    padding: 10px;
    width: 100%;
    @include tablets{
      width: 70%;
    }
    &__caption {
      color: $dark;
      font-family: $font-extrabold;
    }
    &__paragraph {
      color: $dark;
      font-family: $font-regular;
      padding-left: 10px;
      @include tablets{
        padding-left: 25px;
      }
      .page-bullets {
        &__caption {
          color: $blue;
          font-family: $font-bold;
        }
        &__list {
          list-style: none;
          margin-bottom: 25px;
          padding-left: 40px;
          li {
            position: relative;
            margin-bottom: 5px;
            color: $blue;
            @include list-marker($blue);
            &:nth-child(3n - 1) {
              color: $green;
              @include list-marker($green);
            }
            &:nth-child(3n) {
              color: $red;
              @include list-marker($red);
            }
          }
        }
      }
      &--small {
        font-size: 0.8em;
        padding-left: 25px;
      }
    }
    &__secondary-caption {
      color: $blue;
      padding-left: 5px;
      font-size: 1.5em;
      font-family: $font-bold;
      @include tablets{
        padding-left: 15px;
      }
    }
    &__download-btn{
      @include theme-button-style("full", $dark, $yellow);
      display: inline-flex;
      align-items: center;
      padding: 10px;
      line-height: 1;
      &:hover{
        animation: none;
      }
    }

    &--centered{
      text-align: center;

      h2 {
        margin-bottom: 0;
        margin-top: 20px;
      }
    }


    .page-video{
      display: block;
      margin: 0 auto 25px;
      @media (max-width: 560px) {
        width: 100% !important;
      }

    }

    .page-table{
      color: $dark;
      font-family: $font-regular;
      thead{
        background: $milk-grey;
      }

      tr{
        & > *{
          padding: 10px
        }
        th{
          background: $milk-grey;
        }
      }
    }
  }

  hr{
    width: 100%;
    border: 1px solid $milk-grey;
    margin: 10px 0;
  }

}
