<div class="row">
    <div class="col-md-6 col-md-preffix-3">
        <div class="form-content">
            <form class="form form-columns request-a-quote"
                  id="request-a-quote"
                  action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST"
                  data-hasrequired="<?php /* @escapeNotVerified */
                  echo __('* Required Fields') ?>"
                  data-mage-init='{"validation":{}}'>

                <input type=hidden name="oid" id="oid" value="00D41000000e5Se">
                <input type=hidden name="retURL" id="retURL">
                <input type=hidden name="lead_source" value="WoW Request a Quote form">
                <input type=checkbox class="hidden" name="00N4100000aSvep" value="1" checked="checked">

                <fieldset class="fieldset">
                    <div class="fields">
                        <div class="fields-columns">

                            <div class="form-column">

                                <!---------Name---------->
                                <div class="field name required custom-label">
                                    <label class="label" for="last_name"><span><?php /* @escapeNotVerified */
                                            echo __('Name') ?></span></label>
                                    <div class="control">
                                        <input name="name" id="last_name" title="<?php /* @escapeNotVerified */
                                        echo __('Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                    </div>
                                </div>

                                <!---------Organization---------->
                                <div class="field organization required custom-label">
                                    <label class="label" for="company"><span><?php /* @escapeNotVerified */
                                            echo __('Organization') ?></span></label>
                                    <div class="control">
                                        <input name="organization" id="company" title="<?php /* @escapeNotVerified */
                                        echo __('Organization') ?>" class="input-text" type="text"
                                               data-validate="{required:true}"/>
                                    </div>
                                </div>

                                <!---------Street Address---------->
                                <div class="field street-address required custom-label">
                                    <label class="label" for="00N4100000BMsvi"><span><?php /* @escapeNotVerified */
                                            echo __('Street Address') ?></span></label>
                                    <div class="control">
                                        <input name="street_address" id="00N4100000BMsvi" title="<?php /* @escapeNotVerified */
                                        echo __('Street Address') ?>" class="input-text" type="text"
                                               data-validate="{required:true}"/>
                                    </div>
                                </div>

                                <!---------City---------->
                                <div class="field city required custom-label">
                                    <label class="label" for="00N4100000YNhKT"><span><?php /* @escapeNotVerified */
                                            echo __('City') ?></span></label>
                                    <div class="control">
                                        <input name="city" id="00N4100000YNhKT" title="<?php /* @escapeNotVerified */
                                        echo __('City') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                    </div>
                                </div>

                                <!---------State---------->
                                <div class="field state required custom-label">
                                    <label class="label" for="00N4100000YNhUd"><span><?php /* @escapeNotVerified */
                                            echo __('State') ?></span></label>
                                    <div class="control">
                                        <input name="state" id="00N4100000YNhUd" title="<?php /* @escapeNotVerified */
                                        echo __('State') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                    </div>
                                </div>

                                <!---------Zip Code---------->
                                <div class="field zip required custom-label">
                                    <label class="label" for="00N4100000YNhc3"><span><?php /* @escapeNotVerified */
                                            echo __('Zip code') ?></span></label>
                                    <div class="control">
                                        <input name="zip" id="00N4100000YNhc3" title="<?php /* @escapeNotVerified */
                                        echo __('Zip code') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                    </div>
                                </div>

                                <!---------Phone---------->
                                <div class="field phone required custom-label">
                                    <label class="label" for="phone"><span><?php /* @escapeNotVerified */
                                            echo __('Phone') ?></span></label>
                                    <div class="control">
                                        <input name="phone" id="phone" title="<?php /* @escapeNotVerified */
                                        echo __('Phone') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                    </div>
                                </div>

                            </div>

                            <div class="form-column">

                                <!---------Email---------->
                                <div class="field email required custom-label">
                                    <label class="label" for="email"><span><?php /* @escapeNotVerified */
                                            echo __('Email') ?></span></label>
                                    <div class="control">
                                        <input name="email" id="email" title="<?php /* @escapeNotVerified */
                                        echo __('Email') ?>" class="input-text" type="email"
                                               data-validate="{required:true, 'validate-email':true}"/>
                                    </div>
                                </div>

                                <!---------Preferred Method of Contact---------->
                                <div class="field method-of-contact select required custom-label">
                                    <div class="control">
                                        <select name="method_of_contact" id="00N4100000dPUdo"
                                                title="<?php /* @escapeNotVerified */
                                                echo __('Preferred Method of Contact') ?>">
                                            <option value="" selected>Preferred Method of Contact</option>
                                            <option value="phone">Email</option>
                                            <option value="email">Phone</option>
                                        </select>
                                    </div>
                                </div>

                                <!---------What type of quote would you like---------->
                                <div class="field quote-type select required custom-label">
                                    <div class="control">
                                        <select name="quote_type" id="00N4100000dPUdU" title="<?php /* @escapeNotVerified */
                                        echo __('What type of quote would you like?') ?>">
                                            <option value="" selected>What type of quote would you like</option>
                                            <option value="Playground/ Play Features">Playground/Play Features</option>
                                            <option value="Theming">Theming</option>
                                            <option value="Theming and Playground">Combination of Theming and Playing</option>
                                        </select>
                                    </div>
                                </div>

                                <!---------Join our mailing list?---------->
                                <div class="field newsletter-subscription select required custom-label">
                                    <div class="control">
                                        <select name="newsletter_subscription" id="newsletter_subscription"
                                                title="<?php /* @escapeNotVerified */
                                                echo __('Join our mailing list?') ?>">
                                            <option value="" selected>Join our mailing list?</option>
                                            <option value=true>Yes</option>
                                            <option value=false>No</option>
                                        </select>
                                    </div>
                                </div>

                                <!---------Message---------->
                                <div class="field comment required custom-label">
                                    <div class="control">
                                        <textarea name="notes" id="00N4100000BKheO" title="<?php /* @escapeNotVerified */
                                        echo __('Message') ?>" class="input-text max-height" cols="5" rows="3" data-validate="{required:true}"
                                                  placeholder="<?php /* @escapeNotVerified */
                                                  echo __('Message') ?>"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="button" title="<?php /* @escapeNotVerified */
                        echo __('Submit') ?>" class="action submit primary sf-submit-btn">
                            <span><?php /* @escapeNotVerified */
                                echo __('Submit') ?></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>