
//
//  Generic Grid/List Item
//  ---------------------------------------------

.products-grid,
.products-list{
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    .product-item{
        // Image
        .product-image-container {
            display: inline-block;
            max-width: 100%;
            position: relative;
        }
        .product-item-photo{
            background: transparent;
            text-align: center;
            overflow: hidden;
            display: block;
            height: 325px;
            position: relative;
            @include desktop {
                height: 360px;
            }

            img {
                object-fit: cover;
                font-family: "object-fit: cover"; //this property triggers Object fit images polyfill
                height: inherit;
                width: 100%;
            }

            &:before {
                content: 'View more';
                position: absolute;
                display: block;
                bottom: 0;
                width: 100%;
                color: $white;
                font-family: $font-semibold;
                font-size: 13px;
                line-height: 17px;
                padding: 9px 11px 9px 10px;
                height: 35px;
                text-decoration: none;
                text-align: left;
                background: $red;
                z-index: 10;
                transition: opacity .3s ease-in-out;
                @include tablets {
                    font-size: 17px;
                    position: absolute;
                    left: 0;
                    height: 60px;
                    padding: 24px 17px;
                    opacity: 0;
                    line-height: 1;
                };
            }
            &:after {
                content: '\f0a9';
                font-size: 16px;
                font-family: 'FontAwesome';
                float: right;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 35px;
                width: 35px;
                line-height: 35px;
                z-index: 11;
                color: $white;
                transition: opacity .3s ease-in-out;
                @include tablets {
                    font-size: 20px;
                    height: 60px;
                    width: 60px;
                    line-height: 60px;
                    opacity: 0;
                }
            }


        }
        .product-image-wrapper {
            display: block;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        .product-image-photo {
            bottom: 0;
            display: block;
            height: auto;
            left: 0;
            margin: auto;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }

        // Price

        .price-box{
            @include price-box; // _mixins.scss
            font-size: 20px;
            line-height: 1;
            font-weight: 700;
            display: none;

            .price-as-configured{
                margin-bottom: 0;

                .price-container{
                    margin-bottom: 1em;
                }
            }
        }

        .map-show-info{
            font-size: 14px;
            line-height: 14px;
            &:before {
                content: "";
                display: block;
                font-size: 0;
                line-height: 0;
                height: 0;
            }
        }

        //Name
        .product-item-name{
            white-space: normal;
            text-align: center;
            padding: 0;
            margin: 0 auto;
            a {
                font-size: 15px;
                letter-spacing: .83px;
                line-height: 20px;
                color: $dark;
                text-align: center;
                padding: 5px 0;
                margin: 0;
                font-family: $font-bold;
                text-transform: none;
                @include tablets {
                    font-size: 19px;
                    font-family: $font-semibold;
                    padding: 10px 0;
                }
            }
        }

        //Details
        .product-item-description {
          display: none;
        }

        //Reviews
        .product-reviews-summary{
            @include make-flex;
            margin-bottom: 12px;
        }
        .rating-summary{
            .label{
                display: none;
            }
        }
        .reviews-actions{
            .view{
                margin-right: 12px;
            }
        }

        // Swatches

        .swatch-option{
            margin-bottom: 10px;

            + .swatch-option{
                margin-left: 5px;
            }
            &.text{
                padding: 2px;
            }
        }

        //Actions
        .product-item-actions{
            margin-top: 0;
            display: none;

            .actions-secondary{
                @include make-flex();
                @include justify-content(center);

                .action{
                    background-color: transparent;
                    font-size: 18px;
                    line-height: 40px;
                    color: $text-light;
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 0;
                    border: none;
                    background: $bg-dark;
                    text-align: center;
                    margin-left: 8px;
                    &:hover{
                        color: $white;
                        background: $text-dark;
                        animation: hvr-push .3s ease 1;
                    }
                }
            }
        }

        &:nth-child(4n+2) .product-item-photo{
            &:before {
                background: $blue;
            }
        }
        &:nth-child(4n+3) .product-item-photo{
            &:before {
                background: $green;
            }
        }
        &:nth-child(4n+4) .product-item-photo{
            &:before {
                background: $yellow;
                color: $dark;
            }
            &:after {
                color: $dark;
            }
        }

        &:hover,
        &:focus  {
            @include tablets {
                .product-item-photo:after,
                .product-item-photo:before {
                    opacity: 1;
                }
            };
        }
    }
}

.products-grid{
    .product-item{
        text-align: left;
    }

    .product-reviews-summary .reviews-actions{
        display: none;
    }
}
