#row_theme_options_general_logo_settings_logo_image .value,
#row_theme_options_general_seo_settings_favicon .value{
    position: relative;
}
#row_theme_options_general_logo_settings_logo_image .value .delete-image {
    position: absolute;
    top: 14px;
    left: 225px;
}
#row_theme_options_general_seo_settings_favicon .value .delete-image {
    position: absolute;
    top: 14px;
    left: 75px;
}
#row_theme_options_general_logo_settings_logo_image .value .input-file,
#row_theme_options_general_seo_settings_favicon .value .input-file{
    display: block;
}
#row_theme_options_general_logo_settings_logo_image .value a,
#row_theme_options_general_seo_settings_favicon .value a{
    display: inline-block;
    border: solid 1px #adadad;
    padding: 5px;
}
#row_theme_options_general_logo_settings_logo_image img.small-image-preview {
    width: 200px;
    height: auto;
}

#row_theme_options_general_seo_settings_favicon img.small-image-preview {
    max-width: 50px;
    width: auto;
    height: auto;
}

#row_theme_options_header_social_image_icon td.value,
#row_theme_options_footer_social_image_icon td.value,
#row_theme_options_header_social_font_icon td.value,
#row_theme_options_footer_social_font_icon td.value {
    width: 68%;
}
#row_theme_options_header_social_image_icon .upload-image,
#row_theme_options_footer_social_image_icon .upload-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#row_theme_options_header_social_image_icon b,
#row_theme_options_footer_social_image_icon b {
    display: block;
    width: 31px;
    height: 31px;
    line-height: 28px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: solid 1px #adadad;
    background: #e3e3e3;
    color: #514943;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
#row_theme_options_header_social_image_icon a.thumb,
#row_theme_options_footer_social_image_icon a.thumb {
    display: inline-block;
    width:36px;
}

#row_theme_options_header_social_image_icon input[type='file'],
#row_theme_options_footer_social_image_icon input[type='file'] {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer !important;
    padding-left: 32px;
    /*visibility: hidden;*/
}