<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="newsletter-container">
    <div class="container">
        <div class="block newsletter">
            <div class="content">
              <h3 class="newsletter__header">Newsletter</h3>
                <form class="form subscribe"
                      novalidate
                      action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST"
                      data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                      id="newsletter-validate-detail">
                    <input type=hidden name="oid" id="oid" value="00D41000000e5Se">
                    <input type=hidden name="retURL" id="retURL">
                    <input type=hidden name="lead_source" value="WoW Newsletter Subscription Form">
                    <input type=checkbox class="hidden" name="00N4100000aSvep" value="0">

                    <div class="field newsletter">
                        <span class="subtitle">Sign up for our newsletter:</span>

                        <div class="control">
                            <div class="control-newsletter-wrap">
                                <input name="email" type="email"
                                       data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                            <div class="actions">
                                <button class="action subscribe primary sf-submit-btn" title="<?php /* @escapeNotVerified */ echo __('Subscribe!') ?>" type="button">
                                    <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>